hosts/keeper/n8n-workflows/04-rss-fetch.json
{
  "name": "04-RSS\u5b9a\u65f6\u91c7\u96c6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "\u5b9a\u65f6\u89e6\u53d1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/rss?is_active=true&per_page=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000002",
      "name": "\u83b7\u53d6RSS\u6e90\u5217\u8868",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// \u4eceBellkeeper API\u54cd\u5e94\u4e2d\u63d0\u53d6RSS\u6e90\u5e76\u6784\u5efaURL\nconst response = $input.first().json;\nconst sources = response.data || response.items || response;\n\nconst results = [];\nfor (const source of sources) {\n  let feedUrl = source.url;\n  if (feedUrl.startsWith('/')) {\n    feedUrl = 'http://rsshub:1200' + feedUrl;\n  }\n\n  const sourceTags = (source.tags || []).map(t => typeof t === 'object' ? (t.name || '') : String(t)).filter(t => t);\n  if (source.category && !sourceTags.includes(source.category)) {\n    sourceTags.push(source.category);\n  }\n\n  results.push({\n    json: {\n      id: source.id,\n      name: source.name,\n      feedUrl: feedUrl,\n      originalUrl: source.url,\n      category: source.category || '',\n      tags: sourceTags,\n      isActive: source.is_active\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000003",
      "name": "\u63d0\u53d6RSS\u6e90",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.feedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000005",
      "name": "\u62c9\u53d6RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// \u5c06\u6240\u6709Feed\u54cd\u5e94\u4e0eRSS\u6e90\u4fe1\u606f\u6309\u7d22\u5f15\u914d\u5bf9\uff0c\u89e3\u6790\u6240\u6709\u6587\u7ae0\nconst feeds = $input.all();\nconst sources = $('\u63d0\u53d6RSS\u6e90').all();\n\nfunction extractTag(content, tag) {\n  const cdataRegex = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>`, 'i');\n  const plainRegex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const hrefRegex = new RegExp(`<${tag}[^>]*href=[\"']([^\"']+)[\"']`, 'i');\n  let match = content.match(cdataRegex);\n  if (match) return match[1].trim();\n  match = content.match(plainRegex);\n  if (match) return match[1].trim();\n  if (tag === 'link') {\n    match = content.match(hrefRegex);\n    if (match) return match[1].trim();\n  }\n  return '';\n}\n\nconst allArticles = [];\n\nfor (let i = 0; i < feeds.length; i++) {\n  const feedData = feeds[i].json;\n  const source = sources[i] ? sources[i].json : {};\n  const xml = feedData.data || feedData.body || '';\n\n  if (!xml || typeof xml !== 'string') continue;\n\n  const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  const entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n  const regex = xml.includes('<entry') ? entryRegex : itemRegex;\n\n  let matches;\n  while ((matches = regex.exec(xml)) !== null) {\n    const itemXml = matches[1];\n    const title = extractTag(itemXml, 'title');\n    const link = extractTag(itemXml, 'link');\n    if (title && link) {\n      allArticles.push({\n        json: {\n          url: link,\n          title: title,\n          tags: source.tags || [],\n          category: source.category || '',\n          sourceName: source.name || ''\n        }\n      });\n    }\n  }\n}\n\nif (allArticles.length === 0) {\n  return [{ json: { _noArticles: true, _sourceCount: sources.length } }];\n}\n\nreturn allArticles;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000006",
      "name": "\u89e3\u6790\u5168\u90e8\u6587\u7ae0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000007",
      "name": "\u6709\u6587\u7ae0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, tags: $json.tags, category: $json.category, title: $json.title }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000008",
      "name": "\u63a8\u9001\u6587\u7ae0\u5230Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getHours();\nlet period = '\u65e9\u95f4';\nif (hour >= 11 && hour < 15) period = '\u5348\u95f4';\nelse if (hour >= 17) period = '\u665a\u95f4';\n\nlet articleCount = 0;\nlet sourceCount = 0;\ntry {\n  sourceCount = $('\u63d0\u53d6RSS\u6e90').all().length;\n} catch(e) {}\ntry {\n  articleCount = $input.all().length;\n} catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst summary = `\ud83d\udcf0 ${period}RSS\u5b9a\u65f6\u91c7\u96c6\u5df2\u5b8c\u6210\\n\u23f0 ${dateStr} ${timeStr}\\n\ud83d\udcca RSS\u6e90: ${sourceCount} \u4e2a | \u6587\u7ae0: ${articleCount} \u7bc7`;\n\nreturn [{ json: { summary, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000010",
      "name": "\u6c47\u603b\u7edf\u8ba1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'daily', message: $json.summary }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000013",
      "name": "\u53d1\u9001\u91c7\u96c6\u901a\u77e5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-a000-000000000011",
      "name": "\u7ed3\u675f",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "jsCode": "// \u65e0\u6587\u7ae0\u65f6\u4e5f\u53d1\u9001\u901a\u77e5\nconst now = new Date();\nconst hour = now.getHours();\nlet period = '\u65e9\u95f4';\nif (hour >= 11 && hour < 15) period = '\u5348\u95f4';\nelse if (hour >= 17) period = '\u665a\u95f4';\n\nlet sourceCount = 0;\ntry { sourceCount = $('\u63d0\u53d6RSS\u6e90').all().length; } catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst summary = `\ud83d\udcf0 ${period}RSS\u5b9a\u65f6\u91c7\u96c6\u5df2\u5b8c\u6210\\n\u23f0 ${dateStr} ${timeStr}\\n\ud83d\udcca RSS\u6e90: ${sourceCount} \u4e2a | \u6587\u7ae0: 0 \u7bc7 (\u65e0\u65b0\u5185\u5bb9)`;\n\nreturn [{ json: { summary, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000015",
      "name": "\u65e0\u6587\u7ae0\u6c47\u603b",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 440]
    }
  ],
  "connections": {
    "\u5b9a\u65f6\u89e6\u53d1": {
      "main": [
        [
          {
            "node": "\u83b7\u53d6RSS\u6e90\u5217\u8868",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u83b7\u53d6RSS\u6e90\u5217\u8868": {
      "main": [
        [
          {
            "node": "\u63d0\u53d6RSS\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u63d0\u53d6RSS\u6e90": {
      "main": [
        [
          {
            "node": "\u62c9\u53d6RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u62c9\u53d6RSS Feed": {
      "main": [
        [
          {
            "node": "\u89e3\u6790\u5168\u90e8\u6587\u7ae0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u89e3\u6790\u5168\u90e8\u6587\u7ae0": {
      "main": [
        [
          {
            "node": "\u6709\u6587\u7ae0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6709\u6587\u7ae0?": {
      "main": [
        [
          {
            "node": "\u63a8\u9001\u6587\u7ae0\u5230Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u65e0\u6587\u7ae0\u6c47\u603b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u63a8\u9001\u6587\u7ae0\u5230Ingest": {
      "main": [
        [
          {
            "node": "\u6c47\u603b\u7edf\u8ba1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6c47\u603b\u7edf\u8ba1": {
      "main": [
        [
          {
            "node": "\u53d1\u9001\u91c7\u96c6\u901a\u77e5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u65e0\u6587\u7ae0\u6c47\u603b": {
      "main": [
        [
          {
            "node": "\u53d1\u9001\u91c7\u96c6\u901a\u77e5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u53d1\u9001\u91c7\u96c6\u901a\u77e5": {
      "main": [
        [
          {
            "node": "\u7ed3\u675f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}
