hosts/keeper/n8n-workflows/04-rss-fetch.json
{
  "name": "04-RSS\u5b9a\u65f6\u91c7\u96c6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "\u5b9a\u65f6\u89e6\u53d1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/rss?is_active=true&per_page=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000002",
      "name": "\u83b7\u53d6RSS\u6e90\u5217\u8868",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// \u4eceBellkeeper API\u54cd\u5e94\u4e2d\u63d0\u53d6RSS\u6e90\u5e76\u6784\u5efaURL\nconst response = $input.first().json;\nconst sources = response.data || response.items || response;\n\nconst results = [];\nfor (const source of sources) {\n  let feedUrl = source.url;\n  // \u5982\u679curl\u4ee5/\u5f00\u5934\uff0c\u524d\u7f00\u52a0\u4e0arsshub\u5730\u5740\n  if (feedUrl.startsWith('/')) {\n    feedUrl = 'http://rsshub:1200' + feedUrl;\n  }\n\n  // \u63d0\u53d6\u6807\u7b7e\u540d\u79f0\uff08\u6807\u7b7e\u53ef\u80fd\u662f\u5bf9\u8c61\u6216\u5b57\u7b26\u4e32\uff09\n  const sourceTags = (source.tags || []).map(t => typeof t === 'object' ? (t.name || '') : String(t)).filter(t => t);\n\n  // \u5c06\u5206\u7c7b\u81ea\u52a8\u52a0\u5165\u6807\u7b7e\uff0c\u786e\u4fdd\u6bcf\u7bc7\u6587\u7ae0\u81f3\u5c11\u6709\u5206\u7c7b\u6807\u7b7e\n  if (source.category && !sourceTags.includes(source.category)) {\n    sourceTags.push(source.category);\n  }\n\n  results.push({\n    json: {\n      id: source.id,\n      name: source.name,\n      feedUrl: feedUrl,\n      originalUrl: source.url,\n      category: source.category || '',\n      tags: sourceTags,\n      isActive: source.is_active\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000003",
      "name": "\u63d0\u53d6RSS\u6e90",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000004",
      "name": "\u9010\u4e2a\u5904\u7406RSS\u6e90",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.feedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000005",
      "name": "\u62c9\u53d6RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// \u89e3\u6790RSS XML\u54cd\u5e94\uff0c\u63d0\u53d6\u6587\u7ae0\u5217\u8868\nconst input = $input.first().json;\nconst xml = input.data || input.body || '';\n\nif (!xml || typeof xml !== 'string') {\n  return [{ json: { articles: [], error: 'Empty or invalid response', sourceName: $('\\u9010\\u4e2a\\u5904\\u7406RSS\\u6e90').first().json.name } }];\n}\n\n// \u4ece\u4e0a\u6e38SplitInBatches\u83b7\u53d6\u6e90\u4fe1\u606f\nconst source = $('\\u9010\\u4e2a\\u5904\\u7406RSS\\u6e90').first().json;\n\nconst articles = [];\n\n// \u7528\u6b63\u5219\u63d0\u53d6<item>\u6216<entry>\u5143\u7d20\nconst itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\nconst entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n\nfunction extractTag(content, tag) {\n  // \u652f\u6301CDATA\u548c\u666e\u901a\u6587\u672c\n  const cdataRegex = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>`, 'i');\n  const plainRegex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const hrefRegex = new RegExp(`<${tag}[^>]*href=[\"']([^\"']+)[\"']`, 'i');\n  \n  let match = content.match(cdataRegex);\n  if (match) return match[1].trim();\n  \n  match = content.match(plainRegex);\n  if (match) return match[1].trim();\n  \n  // Atom feed\u7684link\u53ef\u80fd\u662f<link href=\"...\"/>\n  if (tag === 'link') {\n    match = content.match(hrefRegex);\n    if (match) return match[1].trim();\n  }\n  \n  return '';\n}\n\nlet matches;\nconst regex = xml.includes('<entry') ? entryRegex : itemRegex;\n\nwhile ((matches = regex.exec(xml)) !== null) {\n  const itemXml = matches[1];\n  const title = extractTag(itemXml, 'title');\n  const link = extractTag(itemXml, 'link');\n  const pubDate = extractTag(itemXml, 'pubDate') || extractTag(itemXml, 'published') || extractTag(itemXml, 'updated');\n  \n  if (title && link) {\n    articles.push({\n      title: title,\n      link: link,\n      pubDate: pubDate\n    });\n  }\n}\n\n// \u8fd4\u56de\u6bcf\u7bc7\u6587\u7ae0\u4f5c\u4e3a\u5355\u72ec\u7684item\nif (articles.length === 0) {\n  return [{ json: { skip: true, sourceName: source.name, reason: 'no articles found' } }];\n}\n\nreturn articles.map(article => ({\n  json: {\n    url: article.link,\n    title: article.title,\n    pubDate: article.pubDate,\n    tags: source.tags,\n    category: source.category,\n    sourceName: source.name\n  }\n}));"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000006",
      "name": "\u89e3\u6790RSS\u6587\u7ae0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000007",
      "name": "\u6709\u6587\u7ae0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, tags: $json.tags, category: $json.category, title: $json.title }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000008",
      "name": "\u63a8\u9001\u6587\u7ae0\u5230Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// \u5408\u5e76\u591a\u7bc7\u6587\u7ae0\u7684\u5904\u7406\u7ed3\u679c\u4e3a1\u4e2aitem\uff0c\u907f\u514dSplitInBatches\u88ab\u591a\u6b21\u89e6\u53d1\nconst items = $input.all();\nreturn [{ json: { articlesProcessed: items.length } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000014",
      "name": "\u5408\u5e76\u5faa\u73af",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getHours();\nlet period = '\u65e9\u95f4';\nif (hour >= 11 && hour < 15) period = '\u5348\u95f4';\nelse if (hour >= 17) period = '\u665a\u95f4';\n\nlet sourceCount = 0;\ntry {\n  sourceCount = $('\u63d0\u53d6RSS\u6e90').all().length;\n} catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst summary = `\ud83d\udcf0 ${period}RSS\u5b9a\u65f6\u91c7\u96c6\u5df2\u5b8c\u6210\\n\u23f0 ${dateStr} ${timeStr}\\n\ud83d\udcca \u5904\u7406RSS\u6e90: ${sourceCount} \u4e2a`;\n\nreturn [{\n  json: {\n    summary: summary,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000010",
      "name": "\u6c47\u603b\u7edf\u8ba1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'daily', message: $json.summary }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000013",
      "name": "\u53d1\u9001\u91c7\u96c6\u901a\u77e5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-a000-000000000011",
      "name": "\u7ed3\u675f",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2640, 300]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-a000-000000000012",
      "name": "\u8df3\u8fc7\u65e0\u6587\u7ae0\u6e90",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1680, 520]
    }
  ],
  "connections": {
    "\u5b9a\u65f6\u89e6\u53d1": {
      "main": [
        [
          {
            "node": "\u83b7\u53d6RSS\u6e90\u5217\u8868",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u83b7\u53d6RSS\u6e90\u5217\u8868": {
      "main": [
        [
          {
            "node": "\u63d0\u53d6RSS\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u63d0\u53d6RSS\u6e90": {
      "main": [
        [
          {
            "node": "\u9010\u4e2a\u5904\u7406RSS\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u9010\u4e2a\u5904\u7406RSS\u6e90": {
      "main": [
        [
          {
            "node": "\u62c9\u53d6RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u6c47\u603b\u7edf\u8ba1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u62c9\u53d6RSS Feed": {
      "main": [
        [
          {
            "node": "\u89e3\u6790RSS\u6587\u7ae0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u89e3\u6790RSS\u6587\u7ae0": {
      "main": [
        [
          {
            "node": "\u6709\u6587\u7ae0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6709\u6587\u7ae0?": {
      "main": [
        [
          {
            "node": "\u63a8\u9001\u6587\u7ae0\u5230Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u8df3\u8fc7\u65e0\u6587\u7ae0\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u63a8\u9001\u6587\u7ae0\u5230Ingest": {
      "main": [
        [
          {
            "node": "\u5408\u5e76\u5faa\u73af",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u5408\u5e76\u5faa\u73af": {
      "main": [
        [
          {
            "node": "\u9010\u4e2a\u5904\u7406RSS\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u8df3\u8fc7\u65e0\u6587\u7ae0\u6e90": {
      "main": [
        [
          {
            "node": "\u9010\u4e2a\u5904\u7406RSS\u6e90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u6c47\u603b\u7edf\u8ba1": {
      "main": [
        [
          {
            "node": "\u53d1\u9001\u91c7\u96c6\u901a\u77e5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u53d1\u9001\u91c7\u96c6\u901a\u77e5": {
      "main": [
        [
          {
            "node": "\u7ed3\u675f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-02T00:00:00.000Z",
  "versionId": "2"
}
