hosts/keeper/n8n-workflows/10-matrix-todo-bot.json
{
  "name": "10-Matrix\u5f85\u529e\u6307\u4ee4",
  "meta": {
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * * *"
            }
          ]
        }
      },
      "id": "cron-poll",
      "name": "\u5b9a\u65f6\u8f6e\u8be2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "\u6bcf\u65e5\u63a8\u9001",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 800]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sinceToken = staticData.sinceToken || '';\nconst homeserver = $env.MATRIX_HOMESERVER;\nconst todoRoom = $env.MATRIX_ROOM_TODO;\nconst botToken = $env.MATRIX_BOT_TOKEN;\n\nif (!homeserver || !todoRoom || !botToken) {\n  return [];\n}\n\nconst filter = JSON.stringify({\n  room: {\n    rooms: [todoRoom],\n    timeline: { types: ['m.room.message'], limit: 20 }\n  },\n  presence: { types: [] },\n  account_data: { types: [] }\n});\n\n// timeout=8000: long-polling, returns immediately when new events arrive\nlet syncUrl = `${homeserver}/_matrix/client/v3/sync?timeout=8000&filter=${encodeURIComponent(filter)}`;\nif (sinceToken) {\n  syncUrl += `&since=${encodeURIComponent(sinceToken)}`;\n}\n\nreturn [{ json: { syncUrl, isFirstRun: !sinceToken, todoRoom } }];"
      },
      "id": "prepare-sync",
      "name": "\u51c6\u5907\u540c\u6b65",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.syncUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MATRIX_BOT_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "sync-matrix",
      "name": "\u540c\u6b65Matrix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst syncResp = $input.first().json;\nconst prevData = $('\u51c6\u5907\u540c\u6b65').first().json;\nconst isFirstRun = prevData.isFirstRun;\nconst todoRoom = prevData.todoRoom;\n\nif (syncResp.next_batch) {\n  staticData.sinceToken = syncResp.next_batch;\n}\n\n// First run or error: skip\nif (isFirstRun || syncResp.errcode) {\n  return [];\n}\n\nconst results = [];\nconst joinedRooms = syncResp.rooms?.join || {};\n\nfor (const [roomId, roomData] of Object.entries(joinedRooms)) {\n  if (roomId !== todoRoom) continue;\n  const events = roomData.timeline?.events || [];\n\n  for (const event of events) {\n    if (event.type !== 'm.room.message') continue;\n    // Ignore bot's own messages\n    if (event.sender && event.sender.startsWith('@kb-bot:')) continue;\n\n    const body = (event.content?.body || '').trim();\n    if (!body.startsWith('!') && !body.startsWith('\\uff01')) continue;\n\n    const parts = body.substring(1).trim().split(/\\s+/);\n    const cmd = parts[0];\n    const args = parts.slice(1).join(' ');\n    let result = null;\n\n    switch(cmd) {\n      case '\\u5f85\\u529e': case '\\u5217\\u8868': case '\\u5f85\\u529e\\u5217\\u8868':\n      case '\\u67e5\\u8be2': case '\\u67e5\\u770b':\n        result = { action: 'list' };\n        break;\n      case '\\u65b0\\u589e': case '\\u6dfb\\u52a0':\n        if (args) {\n          const pMatch = args.match(/^P(\\d)\\s+(.+)/);\n          result = pMatch\n            ? { action: 'add', text: pMatch[2], priority: parseInt(pMatch[1]) }\n            : { action: 'add', text: args, priority: 3 };\n        }\n        break;\n      case '\\u5b8c\\u6210':\n        if (args) result = { action: 'done', memo_name: `memos/${args}` };\n        break;\n      case '\\u5220\\u9664':\n        if (args) result = { action: 'delete', memo_name: `memos/${args}` };\n        break;\n      case '\\u4fee\\u6539': {\n        const modParts = args.split(/\\s+/);\n        if (modParts.length >= 2) {\n          result = { action: 'modify', memo_name: `memos/${modParts[0]}`, text: modParts.slice(1).join(' ') };\n        }\n        break;\n      }\n      case '\\u5e2e\\u52a9': case 'help':\n        result = { action: 'help' };\n        break;\n    }\n\n    if (result) {\n      result.sender = event.sender;\n      results.push(result);\n    }\n  }\n}\n\nreturn results.length > 0 ? results.map(r => ({ json: r })) : [];"
      },
      "id": "parse-commands",
      "name": "\u89e3\u6790\u6307\u4ee4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-help",
              "leftValue": "={{ $json.action }}",
              "rightValue": "help",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-help",
      "name": "\u5e2e\u52a9\u6307\u4ee4?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'todo', message: '\ud83d\udcd6 \u5f85\u529e\u6307\u4ee4\u5e2e\u52a9:\\n\\n!\u5f85\u529e / !\u5217\u8868 - \u67e5\u770b\u5f85\u529e\u5217\u8868\\n!\u65b0\u589e <\u5185\u5bb9> - \u6dfb\u52a0\u5f85\u529e\\n!\u65b0\u589e P1 <\u5185\u5bb9> - \u6dfb\u52a0\u9ad8\u4f18\u5148\u7ea7\u5f85\u529e\\n!\u5b8c\u6210 <ID> - \u5b8c\u6210\u5f85\u529e\\n!\u5220\u9664 <ID> - \u5220\u9664\u5f85\u529e\\n!\u4fee\u6539 <ID> <\u65b0\u5185\u5bb9> - \u4fee\u6539\u5f85\u529e\\n!\u5e2e\u52a9 - \u663e\u793a\u6b64\u5e2e\u52a9\\n\\n\u793a\u4f8b: !\u65b0\u589e P1 \u5b8c\u6210\u5468\u62a5' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-help",
      "name": "\u53d1\u9001\u5e2e\u52a9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/memos-todo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: $json.action, text: $json.text || '', memo_name: $json.memo_name || '', priority: $json.priority || 3 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-todo-api",
      "name": "\u6267\u884c\u5f85\u529e\u64cd\u4f5c",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst command = $('\u5e2e\u52a9\u6307\u4ee4?').item.json;\nconst action = command.action;\n\nlet message = '';\n\nif (response.success === false || response.error) {\n  message = `\\u274c \\u64cd\\u4f5c\\u5931\\u8d25: ${response.error || '\\u672a\\u77e5\\u9519\\u8bef'}`;\n} else {\n  switch(action) {\n    case 'list': {\n      const memos = response.memos || [];\n      if (memos.length === 0) {\n        message = '\\ud83d\\udcdd \\u5f53\\u524d\\u6ca1\\u6709\\u5f85\\u529e\\u4e8b\\u9879';\n      } else {\n        const lines = ['\\ud83d\\udcdd \\u5f85\\u529e\\u5217\\u8868:'];\n        memos.forEach((memo, i) => {\n          const content = memo.content || '';\n          const text = content.replace(/#\\S+/g, '').trim();\n          const id = (memo.name || '').replace('memos/', '');\n          const priority = (content.match(/#P(\\d)/) || [])[1] || '-';\n          lines.push(`${i + 1}. [#${id}] P${priority} ${text}`);\n        });\n        message = lines.join('\\n');\n      }\n      break;\n    }\n    case 'add':\n      message = `\\u2795 \\u5df2\\u6dfb\\u52a0\\u5f85\\u529e: ${command.text}`;\n      break;\n    case 'done':\n      message = `\\u2705 \\u5df2\\u5b8c\\u6210: ${(command.memo_name || '').replace('memos/', '#')}`;\n      break;\n    case 'delete':\n      message = `\\ud83d\\uddd1\\ufe0f \\u5df2\\u5220\\u9664: ${(command.memo_name || '').replace('memos/', '#')}`;\n      break;\n    case 'modify':\n      message = `\\u270f\\ufe0f \\u5df2\\u4fee\\u6539: ${command.text}`;\n      break;\n    default:\n      message = `\\u2753 \\u672a\\u77e5\\u64cd\\u4f5c: ${action}`;\n  }\n}\n\nreturn [{ json: { room: 'todo', message } }];"
      },
      "id": "format-response",
      "name": "\u683c\u5f0f\u5316\u56de\u590d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: $json.room, message: $json.message }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-response",
      "name": "\u53d1\u9001\u56de\u590d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://memos:5230/api/v1/memos?tagSearch=%E5%BE%85%E5%8A%9E&pageSize=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEMOS_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "daily-get-todos",
      "name": "\u83b7\u53d6\u6bcf\u65e5\u5f85\u529e",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst memos = data.memos || [];\n\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\n\nlet message = '';\n\nif (memos.length === 0) {\n  message = `\\ud83c\\udf05 \\u65e9\\u5b89! ${dateStr}\\n\\n\\u2728 \\u4eca\\u65e5\\u6ca1\\u6709\\u5f85\\u529e\\u4e8b\\u9879\\uff0c\\u4eab\\u53d7\\u7f8e\\u597d\\u7684\\u4e00\\u5929!`;\n} else {\n  const lines = [`\\ud83c\\udf05 \\u65e9\\u5b89! ${dateStr}`, '', `\\ud83d\\udcdd \\u4eca\\u65e5\\u5f85\\u529e (${memos.length} \\u9879):`];\n  const sorted = memos.sort((a, b) => {\n    const pA = parseInt((a.content?.match(/#P(\\d)/) || [])[1] || '3');\n    const pB = parseInt((b.content?.match(/#P(\\d)/) || [])[1] || '3');\n    return pA - pB;\n  });\n  sorted.forEach((memo, i) => {\n    const content = memo.content || '';\n    const text = content.replace(/#\\S+/g, '').trim();\n    const id = (memo.name || '').replace('memos/', '');\n    const priority = (content.match(/#P(\\d)/) || [])[1] || '3';\n    const pEmoji = priority === '1' ? '\\ud83d\\udd34' : priority === '2' ? '\\ud83d\\udfe1' : '\\u26aa';\n    lines.push(`${pEmoji} ${i + 1}. [#${id}] ${text}`);\n  });\n  lines.push('', '\\u53d1\\u9001 !\\u5e2e\\u52a9 \\u67e5\\u770b\\u6307\\u4ee4\\u7528\\u6cd5');\n  message = lines.join('\\n');\n}\n\nreturn [{ json: { room: 'todo', message } }];"
      },
      "id": "format-daily",
      "name": "\u683c\u5f0f\u5316\u6bcf\u65e5\u63a8\u9001",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: $json.room, message: $json.message }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-daily",
      "name": "\u53d1\u9001\u6bcf\u65e5\u63a8\u9001",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 800],
      "continueOnFail": true
    }
  ],
  "connections": {
    "\u5b9a\u65f6\u8f6e\u8be2": {
      "main": [[{"node": "\u51c6\u5907\u540c\u6b65", "type": "main", "index": 0}]]
    },
    "\u51c6\u5907\u540c\u6b65": {
      "main": [[{"node": "\u540c\u6b65Matrix", "type": "main", "index": 0}]]
    },
    "\u540c\u6b65Matrix": {
      "main": [[{"node": "\u89e3\u6790\u6307\u4ee4", "type": "main", "index": 0}]]
    },
    "\u89e3\u6790\u6307\u4ee4": {
      "main": [[{"node": "\u5e2e\u52a9\u6307\u4ee4?", "type": "main", "index": 0}]]
    },
    "\u5e2e\u52a9\u6307\u4ee4?": {
      "main": [
        [{"node": "\u53d1\u9001\u5e2e\u52a9", "type": "main", "index": 0}],
        [{"node": "\u6267\u884c\u5f85\u529e\u64cd\u4f5c", "type": "main", "index": 0}]
      ]
    },
    "\u6267\u884c\u5f85\u529e\u64cd\u4f5c": {
      "main": [[{"node": "\u683c\u5f0f\u5316\u56de\u590d", "type": "main", "index": 0}]]
    },
    "\u683c\u5f0f\u5316\u56de\u590d": {
      "main": [[{"node": "\u53d1\u9001\u56de\u590d", "type": "main", "index": 0}]]
    },
    "\u6bcf\u65e5\u63a8\u9001": {
      "main": [[{"node": "\u83b7\u53d6\u6bcf\u65e5\u5f85\u529e", "type": "main", "index": 0}]]
    },
    "\u83b7\u53d6\u6bcf\u65e5\u5f85\u529e": {
      "main": [[{"node": "\u683c\u5f0f\u5316\u6bcf\u65e5\u63a8\u9001", "type": "main", "index": 0}]]
    },
    "\u683c\u5f0f\u5316\u6bcf\u65e5\u63a8\u9001": {
      "main": [[{"node": "\u53d1\u9001\u6bcf\u65e5\u63a8\u9001", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": [{"name": "knowledge"}, {"name": "matrix"}, {"name": "todo"}]
}