hosts/keeper/n8n-workflows/B01-notify.json
{
  "name": "B01-通知发送器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "notify-webhook"
    },
    {
      "parameters": {
        "jsCode": "// 映射room名称到实际的Matrix Room ID\nconst body = $input.first().json.body || $input.first().json;\nconst roomName = body.room;\nconst message = body.message;\nconst html = body.html || null;\n\nconst roomMap = {\n  'alerts': $env.MATRIX_ROOM_ALERTS,\n  'daily': $env.MATRIX_ROOM_DAILY,\n  'todo': $env.MATRIX_ROOM_TODO,\n  'qa': $env.MATRIX_ROOM_QA\n};\n\nconst roomId = roomMap[roomName];\n\nif (!roomId) {\n  throw new Error(`Unknown room: ${roomName}. Valid rooms: alerts, daily, todo, qa`);\n}\n\nif (!message) {\n  throw new Error('Message is required');\n}\n\n// 生成唯一的事务ID\nconst txnId = `n8n_${Date.now()}_${Math.random().toString(36).substring(2, 10)}`;\n\n// 构建Matrix消息体\nconst matrixBody = {\n  msgtype: 'm.text',\n  body: message\n};\n\n// 如果有HTML格式，添加formatted_body\nif (html) {\n  matrixBody.format = 'org.matrix.custom.html';\n  matrixBody.formatted_body = html;\n} else {\n  matrixBody.format = 'org.matrix.custom.html';\n  matrixBody.formatted_body = message;\n}\n\nreturn [{\n  json: {\n    roomId: roomId,\n    txnId: txnId,\n    matrixBody: matrixBody,\n    encodedRoomId: encodeURIComponent(roomId)\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000002",
      "name": "构建消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.MATRIX_HOMESERVER }}/_matrix/client/v3/rooms/{{ $json.encodedRoomId }}/send/m.room.message/{{ $json.txnId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MATRIX_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.matrixBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000003",
      "name": "发送Matrix消息",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 检查发送结果\nconst response = $input.first().json;\n\nif (response.event_id) {\n  return [{\n    json: {\n      status: 'sent',\n      event_id: response.event_id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      status: 'error',\n      error: response.errcode || 'Unknown error',\n      message: response.error || JSON.stringify(response)\n    }\n  }];\n}"
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000004",
      "name": "检查结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status === 'sent' ? 200 : 500 }}"
        }
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000005",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "构建消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建消息": {
      "main": [
        [
          {
            "node": "发送Matrix消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送Matrix消息": {
      "main": [
        [
          {
            "node": "检查结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查结果": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-27T00:00:00.000Z",
  "versionId": "1"
}