hosts/keeper/n8n-workflows/B01-notify.json
{
  "name": "B01-通知发送器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "notify-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/matrix/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": {{ JSON.stringify($input.first().json.channel || $input.first().json.room || $input.first().json.body?.channel) }},\n  \"message\": {{ JSON.stringify($input.first().json.markdown || $input.first().json.message || $input.first().json.body?.message) }},\n  \"message_type\": {{ $input.first().json.markdown ? '\"markdown\"' : $input.first().json.html ? '\"html\"' : '\"text\"' }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000003",
      "name": "调用Bellkeeper通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      },
      "id": "b2c3d4e5-0002-4000-b000-000000000005",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "调用Bellkeeper通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Bellkeeper通知": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "2"
}
