hosts/keeper/n8n-workflows/K01-article-ingest.json
{
  "name": "K01-文章智能入库",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "article-ingest"
    },
    {
      "parameters": {
        "jsCode": "// Validate and normalize the incoming URL\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst url = (body.url || '').trim();\nif (!url) {\n  throw new Error('Missing required field: url');\n}\n\n// Basic URL validation using regex (URL constructor not available in sandbox)\nconst urlPattern = /^https?:\\/\\/[^\\s/$.?#].[^\\s]*$/i;\nif (!urlPattern.test(url)) {\n  throw new Error(`Invalid URL format: ${url}`);\n}\n\n// Normalize: remove trailing slash, remove fragment\nlet normalized = url.split('#')[0].replace(/\\/+$/, '');\n\nreturn [{\n  json: {\n    url: normalized,\n    tags: body.tags || [],\n    category: body.category || '',\n    title: body.title || ''\n  }\n}];"
      },
      "id": "validate-url",
      "name": "Validate URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/datasets/check-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-url",
      "name": "Check URL Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-duplicate",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-duplicate",
      "name": "If Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, status: 'duplicate', message: 'URL already exists in the knowledge base', url: $('Validate URL').first().json.url }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-duplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FIRECRAWL_API_URL }}/v1/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Validate URL').first().json.url, formats: ['markdown'], onlyMainContent: true, timeout: 45000 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "scrape-url",
      "name": "Scrape URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Validate scraped content and extract metadata\nconst scrapeResult = $input.first().json;\nconst inputData = $('Validate URL').first().json;\n\n// Check for scrape errors (continueOnFail produces error fields)\nif (scrapeResult.error || scrapeResult.code === 'SCRAPE_TIMEOUT') {\n  const errMsg = scrapeResult.error || scrapeResult.message || 'Scrape failed';\n  return [{\n    json: {\n      valid: false,\n      error: `Scrape error: ${typeof errMsg === 'object' ? JSON.stringify(errMsg) : errMsg}`,\n      url: inputData.url\n    }\n  }];\n}\n\n// Extract markdown content\nconst data = scrapeResult.data || scrapeResult;\nconst markdown = data.markdown || '';\nconst metadata = data.metadata || {};\n\nif (markdown.length < 100) {\n  return [{\n    json: {\n      valid: false,\n      error: `Content too short (${markdown.length} chars). Minimum 100 chars required.`,\n      url: inputData.url\n    }\n  }];\n}\n\n// Use provided title, or extract from metadata, or from content\nlet title = inputData.title;\nif (!title) {\n  title = metadata.title || metadata.ogTitle || '';\n}\nif (!title) {\n  // Extract first heading from markdown\n  const headingMatch = markdown.match(/^#\\s+(.+)$/m);\n  if (headingMatch) {\n    title = headingMatch[1].trim();\n  }\n}\nif (!title) {\n  title = 'Untitled';\n}\n\n// Generate filename from title\nconst filename = title\n  .replace(/[^a-zA-Z0-9\\u4e00-\\u9fff\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .substring(0, 80) + '.md';\n\n// Extract keywords from title for tag matching\nconst keywords = title\n  .replace(/[^a-zA-Z0-9\\u4e00-\\u9fff\\s]/g, ' ')\n  .split(/\\s+/)\n  .filter(w => w.length > 1)\n  .slice(0, 10);\n\nreturn [{\n  json: {\n    valid: true,\n    content: markdown,\n    title: title,\n    filename: filename,\n    url: inputData.url,\n    tags: inputData.tags,\n    category: inputData.category,\n    keywords: keywords\n  }\n}];"
      },
      "id": "validate-content",
      "name": "Validate Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-content-valid",
      "name": "If Content Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, status: 'scrape_failed', message: $json.error, url: $json.url }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-content-error",
      "name": "Respond Content Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/classify/article",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, url: $json.url, content: $json.content.substring(0, 1000) }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "llm-classify",
      "name": "LLM Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/tags/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ keywords: $json.keywords }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "match-tags",
      "name": "Match Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge LLM tags, matched tags, and user-provided tags\nconst llmRaw = $('LLM Classify').first().json;\n// Handle both { data: { tags, dataset_id } } and { tags, dataset_id } formats\nconst llmResult = llmRaw.data || llmRaw;\nconst matchResult = $('Match Tags').first().json;\nconst contentData = $('Validate Content').first().json;\n\n// Extract LLM tags (empty if LLM failed)\nconst llmTags = (llmResult.tags || []).filter(t => t);\nconst llmDatasetId = llmResult.dataset_id || '';\n\n// Extract matched tags\nconst matchedTags = (matchResult.tags || matchResult.matched || []).map(t => typeof t === 'string' ? t : t.name || t.tag || '');\nconst userTags = contentData.tags || [];\n\n// Combine and deduplicate: LLM tags + user tags + matched tags\nconst allTags = [...new Set([...llmTags, ...userTags, ...matchedTags])].filter(t => t);\n\nreturn [{\n  json: {\n    content: contentData.content,\n    filename: contentData.filename,\n    title: contentData.title,\n    url: contentData.url,\n    tags: allTags,\n    category: contentData.category,\n    dataset_id: llmDatasetId\n  }\n}];"
      },
      "id": "merge-tags",
      "name": "Merge Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/ragflow/upload/with-routing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, filename: $json.filename, title: $json.title, url: $json.url, tags: $json.tags, category: $json.category, dataset_id: $json.dataset_id, auto_create_tags: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "upload-to-ragflow",
      "name": "Upload to RagFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build response: handle upload success or failure\nconst uploadResult = $input.first().json;\nconst mergeData = $('Merge Tags').first().json;\n\nif (uploadResult.error) {\n  const errMsg = typeof uploadResult.error === 'object'\n    ? (uploadResult.error.message || JSON.stringify(uploadResult.error))\n    : String(uploadResult.error);\n  return [{\n    json: {\n      success: false,\n      status: 'upload_failed',\n      error: errMsg,\n      title: mergeData.title,\n      url: mergeData.url\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    status: 'ingested',\n    title: mergeData.title,\n    url: mergeData.url,\n    tags: mergeData.tags,\n    category: mergeData.category,\n    uploadResult: uploadResult\n  }\n}];"
      },
      "id": "build-response",
      "name": "构建响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2880,
        560
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URL": {
      "main": [
        [
          {
            "node": "Check URL Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL Exists": {
      "main": [
        [
          {
            "node": "If Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape URL": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content": {
      "main": [
        [
          {
            "node": "If Content Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Content Valid": {
      "main": [
        [
          {
            "node": "LLM Classify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Content Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Classify": {
      "main": [
        [
          {
            "node": "Match Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Tags": {
      "main": [
        [
          {
            "node": "Merge Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tags": {
      "main": [
        [
          {
            "node": "Upload to RagFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to RagFlow": {
      "main": [
        [
          {
            "node": "构建响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建响应": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}