hosts/keeper/n8n-workflows/K02-rss-fetch.json
{
  "name": "K02-RSS定时采集",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/rss?is_active=true&per_page=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000002",
      "name": "获取RSS源列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 从Bellkeeper API响应中提取RSS源并构建URL\nconst response = $input.first().json;\nconst sources = response.data || response.items || response;\n\nconst results = [];\nfor (const source of sources) {\n  let feedUrl = source.url;\n  if (feedUrl.startsWith('/')) {\n    feedUrl = 'http://rsshub:1200' + feedUrl;\n  }\n\n  const sourceTags = (source.tags || []).map(t => typeof t === 'object' ? (t.name || '') : String(t)).filter(t => t);\n  if (source.category && !sourceTags.includes(source.category)) {\n    sourceTags.push(source.category);\n  }\n\n  results.push({\n    json: {\n      id: source.id,\n      name: source.name,\n      feedUrl: feedUrl,\n      originalUrl: source.url,\n      category: source.category || '',\n      tags: sourceTags,\n      isActive: source.is_active\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000003",
      "name": "提取RSS源",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.feedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000005",
      "name": "拉取RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 将所有Feed响应与RSS源信息按索引配对，解析所有文章\nconst feeds = $input.all();\nconst sources = $('提取RSS源').all();\n\nfunction extractTag(content, tag) {\n  const cdataRegex = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>`, 'i');\n  const plainRegex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const hrefRegex = new RegExp(`<${tag}[^>]*href=[\"']([^\"']+)[\"']`, 'i');\n  let match = content.match(cdataRegex);\n  if (match) return match[1].trim();\n  match = content.match(plainRegex);\n  if (match) return match[1].trim();\n  if (tag === 'link') {\n    match = content.match(hrefRegex);\n    if (match) return match[1].trim();\n  }\n  return '';\n}\n\nconst allArticles = [];\n\nfor (let i = 0; i < feeds.length; i++) {\n  const feedData = feeds[i].json;\n  const source = sources[i] ? sources[i].json : {};\n  const xml = feedData.data || feedData.body || '';\n\n  if (!xml || typeof xml !== 'string') continue;\n\n  const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  const entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n  const regex = xml.includes('<entry') ? entryRegex : itemRegex;\n\n  let matches;\n  while ((matches = regex.exec(xml)) !== null) {\n    const itemXml = matches[1];\n    const title = extractTag(itemXml, 'title');\n    const link = extractTag(itemXml, 'link');\n    if (title && link) {\n      allArticles.push({\n        json: {\n          url: link,\n          title: title,\n          tags: source.tags || [],\n          category: source.category || '',\n          sourceName: source.name || ''\n        }\n      });\n    }\n  }\n}\n\nif (allArticles.length === 0) {\n  return [{ json: { _noArticles: true, _sourceCount: sources.length } }];\n}\n\nreturn allArticles;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000006",
      "name": "解析全部文章",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000007",
      "name": "有文章?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, tags: $json.tags, category: $json.category, title: $json.title }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000008",
      "name": "推送文章到Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getHours();\nlet period = '早间';\nif (hour >= 11 && hour < 15) period = '午间';\nelse if (hour >= 17) period = '晚间';\n\nlet sourceCount = 0;\ntry { sourceCount = $('提取RSS源').all().length; } catch(e) {}\n\n// Get article results from \"推送文章到Ingest\"\nconst articleResults = $('推送文章到Ingest').all();\nlet total = articleResults.length;\nlet success = 0;\nlet duplicate = 0;\nlet failed = 0;\nfor (const r of articleResults) {\n  const d = r.json;\n  if (d.error) {\n    failed++;\n  } else if (d.success === false && d.status === 'duplicate') {\n    duplicate++;\n  } else if (d.success === true) {\n    success++;\n  } else {\n    success++;\n  }\n}\n\n// Get parsing results\nlet parseSuccess = 0;\nlet parseFailed = 0;\nlet parseTotal = 0;\ntry {\n  const parseResults = $('批量解析文档').all();\n  const groupResults = $('按Dataset分组').all();\n\n  for (const r of parseResults) {\n    const d = r.json;\n    // Find corresponding group to get document count\n    const group = groupResults.find(g => g.json.dataset_id === d.dataset_id);\n    const docCount = group ? group.json.document_ids.length : 0;\n    parseTotal += docCount;\n\n    if (d.error || (d.code && d.code !== 0)) {\n      parseFailed += docCount;\n    } else {\n      parseSuccess += docCount;\n    }\n  }\n} catch(e) {\n  // No parsing results, skip\n}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nlet summary = `📰 ${period}RSS定时采集已完成\\n⏰ ${dateStr} ${timeStr}\\n📊 RSS源: ${sourceCount} 个 | 文章: ${total} 篇`;\nsummary += `\\n✅ 入库: ${success} | ⏩ 已存在: ${duplicate} | ❌ 失败: ${failed}`;\n\nif (parseTotal > 0) {\n  summary += `\\n🔄 解析: ${parseSuccess}/${parseTotal} 成功`;\n  if (parseFailed > 0) {\n    summary += ` | ⚠️ ${parseFailed} 失败`;\n  }\n}\n\nreturn [{ json: { summary, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000010",
      "name": "汇总统计",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'daily', message: $json.summary }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000013",
      "name": "发送采集通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-a000-000000000011",
      "name": "结束",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 无文章时也发送通知\nconst now = new Date();\nconst hour = now.getHours();\nlet period = '早间';\nif (hour >= 11 && hour < 15) period = '午间';\nelse if (hour >= 17) period = '晚间';\n\nlet sourceCount = 0;\ntry { sourceCount = $('提取RSS源').all().length; } catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst summary = `📰 ${period}RSS定时采集已完成\\n⏰ ${dateStr} ${timeStr}\\n📊 RSS源: ${sourceCount} 个 | 文章: 0 篇 (无新内容)`;\n\nreturn [{ json: { summary, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000015",
      "name": "无文章汇总",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract document IDs from successful upload responses\nconst results = $input.all();\nconst documents = [];\n\nfor (const item of results) {\n  const d = item.json;\n\n  // Only process successful uploads\n  if (d.success === true && d.uploadResult) {\n    // uploadResult = { data: { code, message, data: [...] }, dataset_id }\n    const ragflowResp = d.uploadResult.data;\n    const datasetId = d.uploadResult.dataset_id;\n\n    if (!ragflowResp || !datasetId) continue;\n\n    // RAGFlow response is wrapped: { code: 0, data: [{id: ...}] }\n    // The actual document list is in ragflowResp.data\n    const docData = ragflowResp.data || ragflowResp;\n\n    let docId = null;\n\n    if (Array.isArray(docData) && docData.length > 0 && docData[0].id) {\n      docId = docData[0].id;\n    } else if (typeof docData === 'object' && docData.id) {\n      docId = docData.id;\n    }\n\n    if (docId) {\n      documents.push({\n        document_id: docId,\n        dataset_id: datasetId,\n        title: d.title || 'Untitled',\n        url: d.url || ''\n      });\n    }\n  }\n}\n\nreturn [{ json: { documents, count: documents.length } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000016",
      "name": "提取文档ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-docs",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000017",
      "name": "有文档需解析?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Group document IDs by dataset_id\nconst input = $input.first().json;\nconst documents = input.documents || [];\n\nconst grouped = {};\nfor (const doc of documents) {\n  const datasetId = doc.dataset_id;\n  if (!grouped[datasetId]) {\n    grouped[datasetId] = {\n      dataset_id: datasetId,\n      document_ids: [],\n      titles: []\n    };\n  }\n  grouped[datasetId].document_ids.push(doc.document_id);\n  grouped[datasetId].titles.push(doc.title);\n}\n\n// Convert to array for iteration\nconst result = Object.values(grouped);\nreturn result.map(g => ({ json: g }));"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000018",
      "name": "按Dataset分组",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/ragflow/documents/parse/throttled",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ dataset_id: $json.dataset_id, document_ids: $json.document_ids, batch_size: 3, interval_seconds: 30 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000019",
      "name": "批量解析文档",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        200
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "获取RSS源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取RSS源列表": {
      "main": [
        [
          {
            "node": "提取RSS源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取RSS源": {
      "main": [
        [
          {
            "node": "拉取RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拉取RSS Feed": {
      "main": [
        [
          {
            "node": "解析全部文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析全部文章": {
      "main": [
        [
          {
            "node": "有文章?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有文章?": {
      "main": [
        [
          {
            "node": "推送文章到Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "无文章汇总",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "推送文章到Ingest": {
      "main": [
        [
          {
            "node": "提取文档ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总统计": {
      "main": [
        [
          {
            "node": "发送采集通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "无文章汇总": {
      "main": [
        [
          {
            "node": "发送采集通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送采集通知": {
      "main": [
        [
          {
            "node": "结束",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取文档ID": {
      "main": [
        [
          {
            "node": "有文档需解析?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有文档需解析?": {
      "main": [
        [
          {
            "node": "按Dataset分组",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "汇总统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按Dataset分组": {
      "main": [
        [
          {
            "node": "批量解析文档",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量解析文档": {
      "main": [
        [
          {
            "node": "汇总统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}