hosts/keeper/n8n-workflows/K02-rss-fetch.json
{
  "name": "K02-RSS定时采集",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rss-backfill",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000020",
      "name": "补录触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        540
      ],
      "webhookId": "rss-backfill"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: '补录任务已启动，将在后台获取并处理文章' }) }}"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000021",
      "name": "立即响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        540
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/rss?is_active=true&per_page=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000002",
      "name": "获取RSS源列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 从Bellkeeper API响应中提取RSS源并构建URL\n// 补录模式：为 RSSHub 源追加 ?limit=N 获取更多条目\nlet rssLimit = 0;\nlet isBackfill = false;\ntry {\n  const webhookData = $('补录触发').first().json;\n  const body = webhookData.body || webhookData;\n  rssLimit = parseInt(body.limit) || 200;\n  isBackfill = true;\n} catch(e) {\n  // 定时触发，不追加 limit\n}\n\nconst response = $input.first().json;\nconst sources = response.data || response.items || response;\n\nconst results = [];\nfor (const source of sources) {\n  let feedUrl = source.url;\n  if (feedUrl.startsWith('/')) {\n    feedUrl = 'http://rsshub:1200' + feedUrl;\n    // 补录模式为 RSSHub 源追加 limit 参数\n    if (isBackfill && rssLimit > 0) {\n      feedUrl += (feedUrl.includes('?') ? '&' : '?') + 'limit=' + rssLimit;\n    }\n  }\n\n  const sourceTags = (source.tags || []).map(t => typeof t === 'object' ? (t.name || '') : String(t)).filter(t => t);\n  if (source.category && !sourceTags.includes(source.category)) {\n    sourceTags.push(source.category);\n  }\n\n  results.push({\n    json: {\n      id: source.id,\n      name: source.name,\n      feedUrl: feedUrl,\n      originalUrl: source.url,\n      category: source.category || '',\n      tags: sourceTags,\n      isActive: source.is_active,\n      _isBackfill: isBackfill,\n      _rssLimit: rssLimit\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000003",
      "name": "提取RSS源",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.feedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000005",
      "name": "拉取RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 将所有Feed响应与RSS源信息按索引配对，解析所有文章\nconst feeds = $input.all();\nconst sources = $('提取RSS源').all();\n\nfunction extractTag(content, tag) {\n  const cdataRegex = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>`, 'i');\n  const plainRegex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const hrefRegex = new RegExp(`<${tag}[^>]*href=[\"']([^\"']+)[\"']`, 'i');\n  let match = content.match(cdataRegex);\n  if (match) return match[1].trim();\n  match = content.match(plainRegex);\n  if (match) return match[1].trim();\n  if (tag === 'link') {\n    match = content.match(hrefRegex);\n    if (match) return match[1].trim();\n  }\n  return '';\n}\n\nconst allArticles = [];\n\nfor (let i = 0; i < feeds.length; i++) {\n  const feedData = feeds[i].json;\n  const source = sources[i] ? sources[i].json : {};\n  const xml = feedData.data || feedData.body || '';\n\n  if (!xml || typeof xml !== 'string') continue;\n\n  const itemRegex = /<item[^>]*>[\\s\\S]*?<\\/item>/gi;\n  const entryRegex = /<entry[^>]*>[\\s\\S]*?<\\/entry>/gi;\n  const regex = xml.includes('<entry') ? entryRegex : itemRegex;\n\n  let matches;\n  while ((matches = regex.exec(xml)) !== null) {\n    const itemXml = matches[0];\n    const title = extractTag(itemXml, 'title');\n    const link = extractTag(itemXml, 'link');\n    if (title && link) {\n      allArticles.push({\n        json: {\n          url: link,\n          title: title,\n          tags: source.tags || [],\n          category: source.category || '',\n          sourceName: source.name || ''\n        }\n      });\n    }\n  }\n}\n\nif (allArticles.length === 0) {\n  return [{ json: { _noArticles: true, _sourceCount: sources.length } }];\n}\n\nreturn allArticles;"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000006",
      "name": "解析全部文章",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000007",
      "name": "有文章?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, tags: $json.tags, category: $json.category, title: $json.title }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000008",
      "name": "推送文章到Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract document IDs from successful upload responses\nconst results = $input.all();\nconst documents = [];\n\nfor (const item of results) {\n  let d = item.json;\n  \n  // Handle wrapped response (body/data field)\n  if (d.body && typeof d.body === 'object') d = d.body;\n  if (d.data && typeof d.data === 'object' && !d.dataset_id) d = d.data;\n\n  // Only process successful uploads\n  if (d.success === true && d.uploadResult) {\n    const ragflowResp = d.uploadResult.data;\n    const datasetId = d.uploadResult.dataset_id;\n\n    if (!ragflowResp || !datasetId) continue;\n\n    const docData = ragflowResp.data || ragflowResp;\n    let docId = null;\n\n    if (Array.isArray(docData) && docData.length > 0 && docData[0].id) {\n      docId = docData[0].id;\n    } else if (typeof docData === 'object' && docData.id) {\n      docId = docData.id;\n    }\n\n    if (docId) {\n      documents.push({\n        document_id: docId,\n        dataset_id: datasetId,\n        title: d.title || 'Untitled',\n        url: d.url || ''\n      });\n    }\n  }\n}\n\nreturn [{ json: { documents, count: documents.length } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000016",
      "name": "提取文档ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-docs",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000017",
      "name": "有文档需解析?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Group document IDs by dataset_id, output as smart parse items array\nconst input = $input.first().json;\nconst documents = input.documents || [];\n\nconst grouped = {};\nfor (const doc of documents) {\n  const datasetId = doc.dataset_id;\n  if (!grouped[datasetId]) {\n    grouped[datasetId] = {\n      dataset_id: datasetId,\n      document_ids: []\n    };\n  }\n  grouped[datasetId].document_ids.push(doc.document_id);\n}\n\nconst items = Object.values(grouped);\nreturn [{ json: { items, total: documents.length } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000018",
      "name": "按Dataset分组",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/ragflow/documents/parse/smart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items, config: { batch_size: 3, initial_delay: 15, max_retries: 3, poll_interval: 10, poll_timeout: 300, notify_webhook: 'http://localhost:5678/webhook/notify', notify_room: 'daily' } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000019",
      "name": "智能解析文档",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getHours();\nlet period = '早间';\nif (hour >= 11 && hour < 15) period = '午间';\nelse if (hour >= 17) period = '晚间';\n\n// 检测补录模式\nlet isBackfill = false;\nlet rssLimit = 0;\ntry {\n  const wh = $('补录触发').first().json;\n  isBackfill = true;\n  rssLimit = parseInt((wh.body || wh).limit) || 200;\n} catch(e) {}\n\nconst modeLabel = isBackfill ? '手动补录' : period + 'RSS定时采集';\n\nlet sourceCount = 0;\ntry { sourceCount = $('提取RSS源').all().length; } catch(e) {}\n\n// 构建原始文章标题映射 (K01响应可能丢失标题)\nconst origArticles = $('解析全部文章').all().filter(a => a.json.url);\nconst titleByUrl = {};\nfor (const a of origArticles) {\n  titleByUrl[a.json.url] = a.json.title || '';\n}\n\nconst articleResults = $('推送文章到Ingest').all();\nconst successList = [];\nconst duplicateList = [];\nconst failedList = [];\n\nfor (let i = 0; i < articleResults.length; i++) {\n  const d = articleResults[i].json;\n  // 标题: 优先用K01响应 → 回退到URL匹配 → 回退到索引匹配 → Untitled\n  const origByIdx = (i < origArticles.length) ? origArticles[i].json : {};\n  const title = d.title || titleByUrl[d.url] || origByIdx.title || 'Untitled';\n  const url = d.url || origByIdx.url || '';\n  const category = d.category || origByIdx.category || '';\n  const item = { title, url, category };\n\n  if (d.error) {\n    // httpRequest 错误 (Invalid JSON, timeout 等)\n    item.error = typeof d.error === 'object' ? (d.error.message || JSON.stringify(d.error)) : String(d.error);\n    failedList.push(item);\n  } else if (d.success === false) {\n    if (d.status === 'duplicate') {\n      duplicateList.push(item);\n    } else {\n      // scrape_failed, upload_failed 等\n      item.error = d.message || d.error || d.status || 'unknown error';\n      failedList.push(item);\n    }\n  } else {\n    successList.push(item);\n  }\n}\n\nconst total = articleResults.length;\nconst success = successList.length;\nconst duplicate = duplicateList.length;\nconst failed = failedList.length;\n\nlet parseTotal = 0;\nlet parseTaskId = '';\ntry {\n  const parseResult = $('智能解析文档').first().json;\n  parseTotal = parseResult.total_documents || 0;\n  parseTaskId = parseResult.task_id || '';\n} catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst plainText = `${modeLabel}已完成\\n${dateStr} ${timeStr}${isBackfill ? ' | limit=' + rssLimit : ''}\\nRSS源: ${sourceCount} 个 | 文章: ${total} 篇\\n入库: ${success} | 已存在: ${duplicate} | 失败: ${failed}${parseTotal > 0 ? `\\n已启动智能解析 (${parseTotal} 个文档${parseTaskId ? ', task=' + parseTaskId : ''})` : ''}`;\n\nlet html = `<h4>${modeLabel}完成</h4>\\n<p><i>${dateStr} ${timeStr} | ${sourceCount} 个源 | ${total} 篇文章${isBackfill ? ' | limit=' + rssLimit : ''}</i></p>\\n`;\n\nif (success > 0) {\n  html += `\\n<h5>成功入库 (${success} 篇)</h5>\\n<ul>\\n`;\n  const showCount = Math.min(10, success);\n  for (let i = 0; i < showCount; i++) {\n    const a = successList[i];\n    html += `<li>${a.category ? `<b>${a.category}</b>: ` : ''}<a href=\"${a.url}\">${a.title}</a></li>\\n`;\n  }\n  if (success > 10) html += `<li><i>... 还有 ${success - 10} 篇</i></li>\\n`;\n  html += `</ul>\\n`;\n}\n\nif (duplicate > 0) {\n  html += `\\n<p>已存在: ${duplicate} 篇 (已跳过)</p>\\n`;\n}\n\nif (failed > 0) {\n  html += `\\n<h5>失败 (${failed} 篇)</h5>\\n<ul>\\n`;\n  const showFailed = Math.min(5, failed);\n  for (let i = 0; i < showFailed; i++) {\n    const a = failedList[i];\n    html += `<li><del>${a.url || a.title}</del> - ${a.error}</li>\\n`;\n  }\n  if (failed > 5) html += `<li><i>... 还有 ${failed - 5} 篇</i></li>\\n`;\n  html += `</ul>\\n`;\n}\n\nif (parseTotal > 0) {\n  html += `\\n<p>已启动智能解析: ${parseTotal} 个文档 (后台处理中，完成后会单独通知)</p>`;\n}\n\nreturn [{ json: { summary: plainText, html, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000010",
      "name": "汇总统计",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'daily', message: $json.summary, html: $json.html }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000013",
      "name": "发送采集通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-a000-000000000011",
      "name": "结束",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 无文章时也发送通知\nconst now = new Date();\nconst hour = now.getHours();\nlet period = '早间';\nif (hour >= 11 && hour < 15) period = '午间';\nelse if (hour >= 17) period = '晚间';\n\nlet isBackfill = false;\ntry { $('补录触发').first(); isBackfill = true; } catch(e) {}\nconst modeLabel = isBackfill ? '手动补录' : period + 'RSS定时采集';\n\nlet sourceCount = 0;\ntry { sourceCount = $('提取RSS源').all().length; } catch(e) {}\n\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;\n\nconst summary = `${modeLabel}已完成\\n${dateStr} ${timeStr}\\nRSS源: ${sourceCount} 个 | 文章: 0 篇 (无新内容)`;\nconst html = `<h4>${modeLabel}完成</h4>\\n<p><i>${dateStr} ${timeStr} | ${sourceCount} 个源 | 0 篇文章</i></p>\\n<p><i>无新内容</i></p>`;\n\nreturn [{ json: { summary, html, timestamp: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000015",
      "name": "无文章汇总",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        540
      ]
    }
  ],
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "获取RSS源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "补录触发": {
      "main": [
        [
          {
            "node": "立即响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "立即响应": {
      "main": [
        [
          {
            "node": "获取RSS源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取RSS源列表": {
      "main": [
        [
          {
            "node": "提取RSS源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取RSS源": {
      "main": [
        [
          {
            "node": "拉取RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拉取RSS Feed": {
      "main": [
        [
          {
            "node": "解析全部文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析全部文章": {
      "main": [
        [
          {
            "node": "有文章?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有文章?": {
      "main": [
        [
          {
            "node": "推送文章到Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "无文章汇总",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "推送文章到Ingest": {
      "main": [
        [
          {
            "node": "提取文档ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取文档ID": {
      "main": [
        [
          {
            "node": "有文档需解析?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有文档需解析?": {
      "main": [
        [
          {
            "node": "按Dataset分组",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "汇总统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按Dataset分组": {
      "main": [
        [
          {
            "node": "智能解析文档",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "智能解析文档": {
      "main": [
        [
          {
            "node": "汇总统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总统计": {
      "main": [
        [
          {
            "node": "发送采集通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "无文章汇总": {
      "main": [
        [
          {
            "node": "发送采集通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送采集通知": {
      "main": [
        [
          {
            "node": "结束",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}
