hosts/keeper/n8n-workflows/K05-ai-summarize.json
{
  "name": "K05-AI智能总结",
  "meta": {
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-summarize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ai",
      "name": "AI总结入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ai-summarize"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nif (!body.content && !body.url) {\n  throw new Error('content 或 url 参数不能为空');\n}\n\nconst contentLength = (body.content || '').length;\nconst LONG_TEXT_THRESHOLD = 8000;\n\nlet provider = body.provider;\nlet autoSelected = false;\n\nif (!provider) {\n  if (body.local_only || body.sensitive) {\n    provider = 'ollama';\n  } else if (contentLength > LONG_TEXT_THRESHOLD) {\n    provider = 'kimi';\n  } else {\n    provider = 'deepseek';\n  }\n  autoSelected = true;\n}\n\nconst models = {\n  'ollama': 'qwen2.5:7b',\n  'deepseek': 'deepseek-chat',\n  'kimi': 'moonshot-v1-128k'\n};\n\nconst taskType = body.task_type || 'summarize';\nconst prompts = {\n  'summarize': `请用中文总结以下文章的核心内容：\\n\\n## 一句话总结\\n[简洁概括，不超过50字]\\n\\n## 关键要点\\n1. [要点1]\\n2. [要点2]\\n3. [要点3]\\n\\n## 技术标签\\n[用逗号分隔的相关标签]\\n\\n---\\n文章内容：\\n`,\n  'extract_tags': `请从以下内容中提取10-20个相关的技术标签，用逗号分隔，直接输出标签不要其他解释：\\n\\n`,\n  'security_analysis': `请从网络安全角度分析以下内容：\\n\\n## 安全要点\\n[涉及的安全概念]\\n\\n## 攻防技术\\n[详细说明]\\n\\n## 实践建议\\n[可操作建议]\\n\\n---\\n内容：\\n`\n};\n\nconst prompt = body.prompt || ((prompts[taskType] || prompts['summarize']) + (body.content || ''));\n\nreturn {\n  json: {\n    content: body.content,\n    content_length: contentLength,\n    url: body.url,\n    provider: provider,\n    auto_selected: autoSelected,\n    model: body.model || models[provider],\n    task_type: taskType,\n    prompt: prompt,\n    callback_url: body.callback_url\n  }\n};"
      },
      "id": "prepare-request",
      "name": "准备请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-input",
      "name": "输入有效?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-ollama",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "ollama",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-ollama",
      "name": "是Ollama?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-kimi",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "kimi",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-kimi",
      "name": "是Kimi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 4096\n  }\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-ollama",
      "name": "调用Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/llm/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "X-Caller-ID",
              "value": "n8n-ai-summarize-kimi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"你是一个专业的技术文档分析助手，请使用中文回复。\"},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-kimi",
      "name": "调用Kimi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/llm/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "X-Caller-ID",
              "value": "n8n-ai-summarize-deepseek"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"你是一个专业的技术文档分析助手，请使用中文回复。\"},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-deepseek",
      "name": "调用DeepSeek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst inputData = $('准备请求').first().json;\n\nlet result = '';\nlet success = false;\n\nif (response.response) {\n  result = response.response;\n  success = true;\n}\nelse if (response.choices && response.choices[0]) {\n  result = response.choices[0].message?.content || '';\n  success = !!result;\n}\n\nreturn {\n  json: {\n    success: success,\n    provider: inputData.provider,\n    model: inputData.model,\n    auto_selected: inputData.auto_selected,\n    task_type: inputData.task_type,\n    content_length: inputData.content_length,\n    result: result,\n    url: inputData.url,\n    callback_url: inputData.callback_url,\n    error: success ? null : (response.error?.message || '调用失败')\n  }\n};"
      },
      "id": "process-response",
      "name": "处理响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ai-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "调用成功?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-callback",
              "leftValue": "={{ $json.callback_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-callback",
      "name": "有回调?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({success: $json.success, result: $json.result, provider: $json.provider, task_type: $json.task_type}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-callback",
      "name": "发送回调",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"provider\": \"{{ $json.provider }}\",\n  \"model\": \"{{ $json.model }}\",\n  \"auto_selected\": {{ $json.auto_selected }},\n  \"task_type\": \"{{ $json.task_type }}\",\n  \"content_length\": {{ $json.content_length || 0 }},\n  \"result\": {{ JSON.stringify($json.result) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"provider\": \"{{ $json.provider }}\",\n  \"error\": {{ JSON.stringify($json.error || 'AI调用失败') }}\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "response-fail",
      "name": "失败响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": {{ JSON.stringify($json.error || $json.message || '参数错误') }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-invalid",
      "name": "参数错误响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "AI总结入口": {
      "main": [
        [
          {
            "node": "准备请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备请求": {
      "main": [
        [
          {
            "node": "输入有效?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输入有效?": {
      "main": [
        [
          {
            "node": "是Ollama?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "参数错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是Ollama?": {
      "main": [
        [
          {
            "node": "调用Ollama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "是Kimi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是Kimi?": {
      "main": [
        [
          {
            "node": "调用Kimi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "调用DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Ollama": {
      "main": [
        [
          {
            "node": "处理响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Kimi": {
      "main": [
        [
          {
            "node": "处理响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用DeepSeek": {
      "main": [
        [
          {
            "node": "处理响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理响应": {
      "main": [
        [
          {
            "node": "调用成功?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用成功?": {
      "main": [
        [
          {
            "node": "有回调?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "失败响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有回调?": {
      "main": [
        [
          {
            "node": "发送回调",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送回调": {
      "main": [
        [
          {
            "node": "成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "name": "knowledge"
    },
    {
      "name": "ai"
    }
  ]
}