hosts/keeper/n8n-workflows/K08-daily-digest.json
{
  "name": "K08-每日资讯摘要推送",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "e01-0001",
      "name": "每日20点触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs?module=ragflow_upload&action=upload_with_routing&status=success&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "e01-0002",
      "name": "获取今日入库日志",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst todayStr = now.toISOString().slice(0,10);\nconst items = ($input.first().json.data?.items || []).filter(x => x.created_at && x.created_at.startsWith(todayStr));\n\nconst datasetNames = {\n  'd15bd2ac07ae11f1a088ae230b1794d7': '\\u6bcf\\u65e5\\u8baf\\u606f',\n  'd157b35c07ae11f1a088ae230b1794d7': 'AI\\u6280\\u672f',\n  'd1537f8a07ae11f1a088ae230b1794d7': '\\u5f00\\u53d1\\u6280\\u672f',\n  'd14f2fac07ae11f1a088ae230b1794d7': '\\u7f51\\u7edc\\u5b89\\u5168',\n  'd14aaa7c07ae11f1a088ae230b1794d7': '\\u5b89\\u5168\\u6f0f\\u6d1e',\n};\n\nconst grouped = {};\nfor (const item of items) {\n  const dsId = item.ref_id || '';\n  if (!grouped[dsId]) grouped[dsId] = [];\n  const m = item.summary?.match(/\\u8def\\u7531\\u4e0a\\u4f20 (.+?) \\u5230/);\n  if (m) {\n    const title = m[1].replace(/-+/g,' ').replace(/\\.(md|txt)$/i,'').trim();\n    grouped[dsId].push(title);\n  }\n}\n\nconst sections = [];\nlet totalCount = 0;\nfor (const [dsId, titles] of Object.entries(grouped)) {\n  const name = datasetNames[dsId] || dsId.slice(0,8);\n  totalCount += titles.length;\n  sections.push({ dataset: name, titles });\n}\n\nif (totalCount === 0) {\n  return [{ json: { skip: true, date: todayStr } }];\n}\n\nlet promptLines = [`\\u4eca\\u5929(${todayStr})\\u5171\\u5165\\u5e93 ${totalCount} \\u7bc7\\u6587\\u7ae0\\uff0c\\u6309\\u9886\\u57df\\u5206\\u7c7b\\u5982\\u4e0b\\uff1a\\n`];\nfor (const s of sections) {\n  promptLines.push(`\\u3010${s.dataset}\\u3011(${s.titles.length}\\u7bc7)`);\n  for (const t of s.titles.slice(0,20)) promptLines.push(`  - ${t}`);\n  if (s.titles.length > 20) promptLines.push(`  ... \\u5171${s.titles.length}\\u7bc7`);\n}\npromptLines.push('\\n\\u8bf7\\u6309\\u9886\\u57df\\u5206\\u522b\\u75282-3\\u53e5\\u8bdd\\u6982\\u62ec\\u4eca\\u65e5\\u8baf\\u606f\\u4eae\\u70b9\\uff0c\\u6700\\u540e\\u7ed9\\u51fa\\u4e00\\u53e5\\u603b\\u4f53\\u8bc4\\u4ef7\\u3002\\u8f93\\u51fa\\u4e2d\\u6587\\u3002');\n\nreturn [{ json: {\n  skip: false,\n  date: todayStr,\n  totalCount,\n  sections,\n  prompt: promptLines.join('\\n')\n} }];"
      },
      "id": "e01-0003",
      "name": "整理今日数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e01-0004",
      "name": "有内容?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ai-summarize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.prompt, provider: 'deepseek', max_tokens: 1024 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "e01-0005",
      "name": "调用K05总结",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const summarizeResp = $('调用K05总结').first().json;\nconst metaData = $('整理今日数据').first().json;\nconst aiText = summarizeResp.result || summarizeResp.content || summarizeResp.choices?.[0]?.message?.content || '(AI总结暂不可用)';\nconst date = metaData.date;\nconst total = metaData.totalCount;\nconst sections = metaData.sections || [];\n\nconst statLines = sections.map(s => `| ${s.dataset} | ${s.titles.length} \\u7bc7 |`).join('\\n');\n\nconst md = `### \\ud83d\\udcf0 \\u6bcf\\u65e5\\u8baf\\u606f\\u6458\\u8981 - ${date}\\n\\n` +\n  `#### \\ud83d\\udcca \\u4eca\\u65e5\\u5165\\u5e93\\u7edf\\u8ba1\\uff08\\u5171 ${total} \\u7bc7\\uff09\\n\\n` +\n  `| \\u9886\\u57df | \\u6587\\u7ae0\\u6570 |\\n|------|---------|\\n` +\n  `${statLines}\\n\\n` +\n  `#### \\ud83e\\udd16 AI \\u4eae\\u70b9\\u603b\\u7ed3\\n\\n` +\n  aiText;\n\nreturn [{ json: { room: 'daily', markdown: md, date } }];"
      },
      "id": "e01-0006",
      "name": "构建推送消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/reports/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'daily', content: $json.markdown, source: 'K08-每日资讯摘要推送', date: $json.date }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e01-0006b",
      "name": "写入日报文件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: $json.room, markdown: $json.markdown }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e01-0007",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        320
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "每日20点触发": {
      "main": [
        [
          {
            "node": "获取今日入库日志",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取今日入库日志": {
      "main": [
        [
          {
            "node": "整理今日数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理今日数据": {
      "main": [
        [
          {
            "node": "有内容?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有内容?": {
      "main": [
        [],
        [
          {
            "node": "调用K05总结",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用K05总结": {
      "main": [
        [
          {
            "node": "构建推送消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建推送消息": {
      "main": [
        [
          {
            "node": "写入日报文件",
            "type": "main",
            "index": 0
          },
          {
            "node": "发送Matrix通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "698a004d-5308-468d-a595-8ccd0d936fe7",
  "id": "e01-daily-digest"
}