hosts/keeper/n8n-workflows/M01-matrix-bot-base.json
{
  "name": "M01-Matrix机器人基础",
  "meta": {
    "instanceId": "",
    "deprecationNote": "Matrix 轮询和命令路由已迁移到 Bellkeeper。此工作流仅保留 webhook 接口供外部系统集成。"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matrix-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-matrix",
      "name": "Matrix命令Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "matrix-command-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/matrix/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": {{ JSON.stringify($input.first().json.body.room || 'qa') }},\n  \"message\": {{ JSON.stringify($input.first().json.body.message || '') }},\n  \"message_type\": \"html\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "notify-bellkeeper",
      "name": "通知Bellkeeper发送",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      },
      "id": "respond",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ]
    }
  ],
  "connections": {
    "Matrix命令Webhook": {
      "main": [
        [
          {
            "node": "通知Bellkeeper发送",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "通知Bellkeeper发送": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "3",
  "notes": "Matrix 轮询和命令路由已由 Bellkeeper 处理。此工作流保留 webhook 接口供外部系统调用。"
}
