hosts/keeper/n8n-workflows/M02-memos-todo.json
{
  "name": "M02-Memos待办管理",
  "meta": {
    "instanceId": "",
    "deprecationNote": "Matrix 命令已迁移到 Bellkeeper DirectMemosHandler。此 webhook 保留用于 API 访问。"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memos-todo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-todo",
      "name": "待办入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "memos-todo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 2
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 3
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "switch-action",
      "name": "路由操作",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://memos:5230/api/v1/memos?tagSearch=%E5%BE%85%E5%8A%9E&pageSize=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEMOS_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "list-memos",
      "name": "查询待办列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'list', memos: $json.memos || [] }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-list",
      "name": "返回列表",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst text = body.text || '';\nconst priority = body.priority || 3;\nconst dueDate = body.dueDate || '';\n\nif (!text) {\n  throw new Error('text parameter is required');\n}\n\nlet content = `#待办 #P${priority}`;\nif (dueDate) {\n  content += ` #D:${dueDate}`;\n}\ncontent += ` ${text}`;\n\nreturn {\n  json: {\n    content: content,\n    text: text\n  }\n};"
      },
      "id": "format-add",
      "name": "格式化待办内容",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://memos:5230/api/v1/memos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEMOS_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, visibility: 'PRIVATE' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "add-memo",
      "name": "添加待办",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'add', memo: $json.memo, message: '已添加待办' }) }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "respond-add",
      "name": "返回添加结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: '无效的操作' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-fallback",
      "name": "无效操作",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        500
      ]
    }
  ],
  "connections": {
    "待办入口": {
      "main": [
        [
          {
            "node": "路由操作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "路由操作": {
      "main": [
        [
          {
            "node": "查询待办列表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "格式化待办内容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "添加待办",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "无效操作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询待办列表": {
      "main": [
        [
          {
            "node": "返回列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化待办内容": {
      "main": [
        [
          {
            "node": "添加待办",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "添加待办": {
      "main": [
        [
          {
            "node": "返回添加结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "3",
  "notes": "Matrix 命令已由 Bellkeeper DirectMemosHandler 处理。此 webhook 保留用于 API 访问。"
}
