hosts/keeper/n8n-workflows/M03-qa-handler.json
{
  "name": "M03-知识问答处理器",
  "meta": {
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-qa",
      "name": "问答入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "qa-handler"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "ask",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 2
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "switch-command",
      "name": "路由指令",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst question = body.question || '';\n\nif (!question) {\n  throw new Error('question parameter is required');\n}\n\nreturn [{\n  json: {\n    question: question\n  }\n}];"
      },
      "id": "prepare-ask",
      "name": "准备问答请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAGFLOW_API_URL }}/api/v1/chats_openai/{{ $env.RAGFLOW_CHAT_ASSISTANT_ID }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RAGFLOW_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.RAGFLOW_CHAT_ASSISTANT_ID, messages: [{ role: 'user', content: $json.question }], stream: false }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-ragflow-chat",
      "name": "调用RAGFlow Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst question = $('准备问答请求').first().json.question;\n\n// 检查各种错误情况\nconst isTimeout = response.name === 'AxiosError' || (response.message && response.message.includes('timeout'));\nconst isRateLimit = response.message && (response.message.includes('429') || response.message.includes('rate') || response.message.includes('速率限制') || response.message.includes('RATE_LIMIT') || response.message.includes('Too Many Requests'));\nconst isError = response.error || response.errcode || (response.code && response.code !== 0) || isTimeout;\n\nif (isError) {\n  let errMsg = 'RAGFlow API 调用失败';\n  if (isRateLimit) {\n    errMsg = 'AI 模型繁忙（速率限制），请等待 30 秒后重试';\n  } else if (isTimeout) {\n    errMsg = '知识库响应超时，请稍后重试';\n  } else {\n    errMsg = typeof response.error === 'string' ? response.error : (response.message || errMsg);\n  }\n  \n  return [{\n    json: {\n      success: false,\n      error: errMsg,\n      rate_limited: isRateLimit,\n      retry_hint: isRateLimit ? 30 : 0\n    }\n  }];\n}\n\n// 提取答案\nconst answer = response.choices?.[0]?.message?.content || '未找到相关内容';\n\n// 提取引用来源 (v0.24 格式)\nlet references = [];\nif (Array.isArray(response.reference)) {\n  references = response.reference;\n} else if (response.reference && typeof response.reference === 'object') {\n  references = response.reference.chunks || [];\n}\n\n// 格式化回复消息\nlet message = `🤖 知识库助手\\n\\n${answer}`;\n\nif (references.length > 0) {\n  message += '\\n\\n📚 参考来源:';\n  references.forEach((ref, i) => {\n    const docName = (ref.document_keyword || ref.doc_name || '未知文档').replace(/\\.md$/, '');\n    const similarity = ref.similarity ? Math.round(ref.similarity * 100) : 0;\n    message += `\\n${i+1}. ${docName} (${similarity}%)`;\n  });\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    data: {\n      answer: answer,\n      references: references\n    }\n  }\n}];"
      },
      "id": "format-ask-response",
      "name": "格式化问答回复",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ask",
      "name": "返回问答结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst keywords = body.keywords || '';\n\nif (!keywords) {\n  throw new Error('keywords parameter is required');\n}\n\nreturn [{\n  json: {\n    keywords: keywords\n  }\n}];"
      },
      "id": "prepare-search",
      "name": "准备搜索请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAGFLOW_API_URL }}/api/v1/retrieval",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RAGFLOW_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.keywords, dataset_ids: $env.RAGFLOW_DATASET_IDS ? $env.RAGFLOW_DATASET_IDS.split(',').map(id => id.trim()) : ['d15bd2ac07ae11f1a088ae230b1794d7'], top_k: 5 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-ragflow-retrieval",
      "name": "调用RAGFlow检索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst keywords = $('准备搜索请求').first().json.keywords;\n\n// 检查是否有错误\nif (response.error || response.errcode) {\n  return [{\n    json: {\n      success: false,\n      error: response.error || response.message || 'RAGFlow 检索失败'\n    }\n  }];\n}\n\n// 提取检索结果\nconst chunks = response.data?.chunks || [];\n\nif (chunks.length === 0) {\n  return [{\n    json: {\n      success: true,\n      message: `🔍 搜索结果: ${keywords}\\n\\n未找到相关内容`\n    }\n  }];\n}\n\n// 格式化回复消息\nlet message = `🔍 搜索结果: ${keywords}\\n`;\n\nchunks.forEach((chunk, i) => {\n  const docName = (chunk.document_keyword || chunk.doc_name || '未知文档').replace(/\\.md$/, '');\n  const rawContent = (chunk.content || '').replace(/[\\[\\]()#*>|!]/g, '').replace(/\\s+/g, ' ').trim();\n  const content = rawContent.substring(0, 120);\n  const similarity = chunk.similarity ? Math.round(chunk.similarity * 100) : 0;\n  message += `\\n${i+1}. ${docName} (${similarity}%)\\n   ${content}...\\n`;\n});\n\nmessage += `\\n共找到 ${chunks.length} 条相关内容`;\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    data: {\n      chunks: chunks\n    }\n  }\n}];"
      },
      "id": "format-search-response",
      "name": "格式化搜索回复",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-search",
      "name": "返回搜索结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: '🤖 知识库助手帮助\\n\\n基础:\\n  !问 {问题} - 向知识库提问\\n  !搜 {关键词} - 搜索相关文档\\n  !帮助 - 显示此帮助\\n\\n示例:\\n  !问 如何配置 RAGFlow\\n  !搜 Docker 部署' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-help",
      "name": "返回帮助",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: '未知指令，支持: ask, search, help' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-unknown",
      "name": "未知指令响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        700
      ]
    }
  ],
  "connections": {
    "问答入口": {
      "main": [
        [
          {
            "node": "路由指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "路由指令": {
      "main": [
        [
          {
            "node": "准备问答请求",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "准备搜索请求",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "返回帮助",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "未知指令响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备问答请求": {
      "main": [
        [
          {
            "node": "调用RAGFlow Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用RAGFlow Chat": {
      "main": [
        [
          {
            "node": "格式化问答回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化问答回复": {
      "main": [
        [
          {
            "node": "返回问答结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备搜索请求": {
      "main": [
        [
          {
            "node": "调用RAGFlow检索",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用RAGFlow检索": {
      "main": [
        [
          {
            "node": "格式化搜索回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化搜索回复": {
      "main": [
        [
          {
            "node": "返回搜索结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "name": "knowledge"
    },
    {
      "name": "ragflow"
    },
    {
      "name": "qa"
    }
  ]
}