hosts/keeper/n8n-workflows/O01-health-monitor.json
{
  "name": "O01-服务健康监控",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000001",
      "name": "每5分钟触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/health/detailed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000003",
      "name": "检查Bellkeeper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FIRECRAWL_API_URL }}/",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000004",
      "name": "检查Firecrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://rsshub:1200/",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000005",
      "name": "检查RSSHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://memos:5230/api/v1/status",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000006",
      "name": "检查Memos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 汇总所有健康检查结果，与上次状态对比\nconst staticData = $getWorkflowStaticData('global');\n\nconst bellkeeperResult = $('检查Bellkeeper').first().json;\nconst firecrawlResult = $('检查Firecrawl').first().json;\nconst rsshubResult = $('检查RSSHub').first().json;\nconst memosResult = $('检查Memos').first().json;\n\nfunction isHealthy(result, serviceName) {\n  // 如果请求失败，continueOnFail会返回包含error字段的对象\n  if (!result || result.error || result.errorMessage) {\n    return false;\n  }\n  // Bellkeeper返回的健康检查有特定格式\n  if (serviceName === 'Bellkeeper') {\n    return result.status === 'healthy' || result.status === 'ok' || !!result.version;\n  }\n  // 其他服务只要能响应就算健康\n  return true;\n}\n\nconst currentState = {\n  Bellkeeper: isHealthy(bellkeeperResult, 'Bellkeeper'),\n  Firecrawl: isHealthy(firecrawlResult, 'Firecrawl'),\n  RSSHub: isHealthy(rsshubResult, 'RSSHub'),\n  Memos: isHealthy(memosResult, 'Memos')\n};\n\nconst previousState = staticData.serviceState || null;\nconst changes = [];\n\nif (previousState) {\n  for (const [service, isUp] of Object.entries(currentState)) {\n    const wasUp = previousState[service];\n    if (wasUp !== undefined && wasUp !== isUp) {\n      if (isUp) {\n        changes.push(`✅ ${service} 已恢复正常`);\n      } else {\n        changes.push(`❌ ${service} 已宕机`);\n      }\n    }\n  }\n}\n\n// 保存当前状态\nstaticData.serviceState = currentState;\nstaticData.lastCheck = new Date().toISOString();\n\n// 构建通知消息\nlet hasChanges = changes.length > 0;\nlet message = '';\nlet html = '';\n\nif (hasChanges) {\n  const statusLines = Object.entries(currentState).map(\n    ([service, isUp]) => `${isUp ? '✅' : '❌'} ${service}: ${isUp ? '正常' : '异常'}`\n  );\n  \n  const now = new Date().toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai' });\n  const statusTable = Object.entries(currentState).map(\n    ([s, u]) => `| ${s} | ${u ? '✅ 正常' : '❌ 异常'} |`\n  ).join('\\n');\n  \n  message = `⚠️ 服务状态变更\\n\\n变更:\\n${changes.join('\\n')}\\n\\n当前状态:\\n${statusLines.join('\\n')}\\n\\n检查时间: ${now}`;\n  \n  markdown = `#### ⚠️ 服务状态变更\\n\\n| 服务 | 状态 |\\n|------|------|\\n${statusTable}\\n\\n**变更:**\\n\\n${changes.map(c => `- ${c}`).join('\\n')}\\n\\n> 检查时间: ${now}`;\n}\n\nreturn [{\n  json: {\n    hasChanges: hasChanges,\n    changes: changes,\n    currentState: currentState,\n    previousState: previousState,\n    message: message,\n    markdown: markdown,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000007",
      "name": "汇总并对比状态",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-changes",
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000008",
      "name": "有状态变化?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'alerts', markdown: $json.markdown }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000009",
      "name": "发送告警通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 确认状态已保存到staticData\nconst staticData = $getWorkflowStaticData('global');\nreturn [{\n  json: {\n    saved: true,\n    lastCheck: staticData.lastCheck,\n    serviceState: staticData.serviceState\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-4000-c000-000000000010",
      "name": "保存状态",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        200
      ]
    },
    {
      "parameters": {},
      "id": "c3d4e5f6-0003-4000-c000-000000000011",
      "name": "无变化跳过",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        420
      ]
    }
  ],
  "connections": {
    "每5分钟触发": {
      "main": [
        [
          {
            "node": "检查Bellkeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查Bellkeeper": {
      "main": [
        [
          {
            "node": "检查Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查Firecrawl": {
      "main": [
        [
          {
            "node": "检查RSSHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查RSSHub": {
      "main": [
        [
          {
            "node": "检查Memos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查Memos": {
      "main": [
        [
          {
            "node": "汇总并对比状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总并对比状态": {
      "main": [
        [
          {
            "node": "有状态变化?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有状态变化?": {
      "main": [
        [
          {
            "node": "发送告警通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "无变化跳过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送告警通知": {
      "main": [
        [
          {
            "node": "保存状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-27T00:00:00.000Z",
  "versionId": "1"
}