hosts/keeper/n8n-workflows/O01-daily-report.json
{
  "name": "O01-每日日报",
  "meta": {
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "o01-0001",
      "name": "每日21点触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs/stats?since={{ $now.format('yyyy-MM-dd') }}T00:00:00",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "o01-0002",
      "name": "获取今日采集统计",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        140
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs?module=rss_fetch&since={{ $now.format('yyyy-MM-dd') }}T00:00:00&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "o01-0003",
      "name": "获取RSS采集详情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/health/detailed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "o01-0004",
      "name": "获取服务状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/datasets?per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "o01-0005",
      "name": "获取文章总数",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs?module=ragflow_upload&action=upload_with_routing&status=success&since={{ $now.format('yyyy-MM-dd') }}T00:00:00&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "o01-0006",
      "name": "获取KB入库日志",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        620
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://memos:5230/api/v1/memos?filter=tag%3D%3D%27%E5%BE%85%E5%8A%9E%27&pageSize=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEMOS_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "o01-0007",
      "name": "获取待办事项",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        740
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\n\n// ===== Data Collection =====\n\n// Service health\nconst healthData = $('获取服务状态').first().json;\nconst services = healthData.services || healthData.components || {};\nconst svcStatus = (name) => {\n  const s = services[name]?.status;\n  if (s === 'healthy' || s === 'ok') return '\\u2705';\n  if (healthData.status === 'healthy') return '\\u2705';\n  return '\\u274c';\n};\n\n// RSS fetch stats\nconst rssLogs = $('获取RSS采集详情').first().json.data?.items || [];\nconst rssSuccess = rssLogs.filter(l => l.status === 'success').length;\nconst rssFailed = rssLogs.filter(l => l.status === 'failed').length;\n\n// Failed articles detail\nconst failedArticles = rssLogs\n  .filter(l => l.status === 'failed' && l.detail)\n  .map(l => {\n    try {\n      const d = typeof l.detail === 'string' ? JSON.parse(l.detail) : l.detail;\n      const articles = d.articles || d.failed || [];\n      return articles.map(a => `- [${a.title || 'Untitled'}](${a.url || ''}) - ${a.error || l.summary || ''}`);\n    } catch(e) { return []; }\n  })\n  .flat();\n\n// KB ingestion (from K08)\nconst kbLogs = $('获取KB入库日志').first().json.data?.items || []; // items filtered by since on server\nconst kbTodayItems = kbLogs; // server already filters by since\nconst datasetNames = {\n  'd15bd2ac07ae11f1a088ae230b1794d7': '\\u6bcf\\u65e5\\u8baf\\u606f',\n  'd157b35c07ae11f1a088ae230b1794d7': 'AI\\u6280\\u672f',\n  'd1537f8a07ae11f1a088ae230b1794d7': '\\u5f00\\u53d1\\u6280\\u672f',\n  'd14f2fac07ae11f1a088ae230b1794d7': '\\u7f51\\u7edc\\u5b89\\u5168',\n  'd14aaa7c07ae11f1a088ae230b1794d7': '\\u5b89\\u5168\\u6f0f\\u6d1e',\n};\n\n// Group KB items by dataset\nconst kbGrouped = {};\nlet kbTotal = 0;\nfor (const item of kbTodayItems) {\n  const dsId = item.ref_id || '';\n  if (!kbGrouped[dsId]) kbGrouped[dsId] = [];\n  const m = item.summary?.match(/\\u8def\\u7531\\u4e0a\\u4f20 (.+?) \\u5230/);\n  if (m) {\n    const title = m[1].replace(/-+/g,' ').replace(/\\.(md|txt)$/i,'').trim();\n    kbGrouped[dsId].push(title);\n    kbTotal++;\n  }\n}\n\nconst kbSections = []; // [{ dataset: name, titles: [string] }]\nfor (const [dsId, titles] of Object.entries(kbGrouped)) {\n  const name = datasetNames[dsId] || dsId.slice(0,8);\n  kbSections.push({ dataset: name, titles });\n}\n\n// Article total count\nconst totalArticles = $('获取文章总数').first().json.pagination?.total || 0;\nconst datasets = $('获取文章总数').first().json.data?.items || [];\nconst datasetLines = datasets.map(d => `| ${d.name} | ${d.document_count || 0} \\u7bc7 |`);\n\n// Todos\nconst todoItems = $('获取待办事项').first().json.memos || []; // changed: store full list for detail\nconst todoCount = todoItems.length;\nconst todoDetails = todoItems.slice(0, 10).map(m => {\n  const content = (m.content || '').replace(/#[^\\s]+/g, '').trim();\n  return `- ${content}`;\n});\n\n// ===== Build AI Prompt =====\n// Only call LLM if there are KB articles today\nlet aiPrompt = '';\nif (kbTotal > 0) {\n  let promptLines = [`\\u4eca\\u5929(${dateStr})\\u5171\\u5165\\u5e93 ${kbTotal} \\u7bc7\\u6587\\u7ae0\\uff0c\\u6309\\u9886\\u57df\\u5206\\u7c7b\\u5982\\u4e0b\\uff1a\\n`];\n  for (const s of kbSections) {\n    promptLines.push(`\\u3010${s.dataset}\\u3011(${s.titles.length}\\u7bc7)`);\n    for (const t of s.titles.slice(0,20)) promptLines.push(`  - ${t}`);\n    if (s.titles.length > 20) promptLines.push(`  ... \\u5171${s.titles.length}\\u7bc7`);\n  }\n  promptLines.push('\\n\\u8bf7\\u6309\\u9886\\u57df\\u5206\\u522b\\u75282-3\\u53e5\\u8bdd\\u6982\\u62ec\\u4eca\\u65e5\\u8baf\\u606f\\u4eae\\u70b9\\uff0c\\u6700\\u540e\\u7ed9\\u51fa\\u4e00\\u53e5\\u603b\\u4f53\\u8bc4\\u4ef7\\u3002\\u8f93\\u51fa\\u4e2d\\u6587\\u3002');\n  aiPrompt = promptLines.join('\\n');\n}\n\nreturn [{ json: {\n  date: dateStr,\n  // Health\n  healthData,\n  svcStatus,\n  // RSS\n  rssSuccess,\n  rssFailed,\n  failedArticles,\n  // KB\n  kbTotal,\n  kbSections,\n  aiPrompt,\n  // Article counts\n  totalArticles,\n  datasetLines,\n  // Todos\n  todoCount,\n  todoDetails\n} }];"
      },
      "id": "o01-0008",
      "name": "整理数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "kb-content-check",
              "leftValue": "={{ $json.aiPrompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "o01-0009",
      "name": "有KB内容?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/llm/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'pool-summary', messages: [{ role: 'system', content: '\\u4f60\\u662f\\u4e00\\u4e2a\\u8baf\\u606f\\u6458\\u8981\\u4e13\\u5bb6\\uff0c\\u7b80\\u660e\\u627c\\u8981\\u5730\\u6982\\u62ec\\u4e00\\u5929\\u7684\\u91cd\\u70b9\\u8baf\\u606f\\u3002' }, { role: 'user', content: $json.aiPrompt }], max_tokens: 1024 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "o01-0010",
      "name": "调用LLM总结",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ===== Build Unified Markdown =====\n\nconst data = $('整理数据').first().json;\nconst date = data.date;\nconst svcStatus = data.svcStatus;\n\n// AI summary (from LLM Proxy, or fallback)\nconst llmResp = $('调用LLM总结').first().json;\nconst aiText = llmResp.choices?.[0]?.message?.content\n  || llmResp.result\n  || llmResp.content\n  || '(AI\\u4eae\\u70b9\\u6982\\u62ec\\u6682\\u4e0d\\u53ef\\u7528)';\n\nlet md = `### \\ud83d\\udcca \\u6bcf\\u65e5\\u77e5\\u8bc6\\u5e93\\u65e5\\u62a5 - ${date}\\n\\n`;\n\n// ===== Section 1: Service Health =====\nmd += `#### \\ud83d\\udce6 \\u670d\\u52a1\\u72b6\\u6001\\n\\n`;\nmd += `| \\u670d\\u52a1 | \\u72b6\\u6001 |\\n|------|------|\\n`;\nmd += `| Bellkeeper | ${svcStatus('bellkeeper')} |\\n`;\nmd += `| RagFlow | ${svcStatus('ragflow')} |\\n`;\nmd += `| Firecrawl | ${svcStatus('firecrawl')} |\\n\\n`;\n\n// ===== Section 2: RSS Fetch Stats =====\nmd += `#### \\ud83d\\udce5 \\u4eca\\u65e5\\u5185\\u5bb9\\u91c7\\u96c6\\n\\n`;\nif (data.rssSuccess > 0 || data.rssFailed > 0) {\n  md += `| \\u6307\\u6807 | \\u6570\\u91cf |\\n|------|------|\\n`;\n  md += `| \\u6210\\u529f\\u5165\\u5e93 | ${data.rssSuccess} \\u7bc7 |\\n`;\n  md += `| \\u5931\\u8d25 | ${data.rssFailed} \\u7bc7 |\\n\\n`;\n  if (data.failedArticles && data.failedArticles.length > 0) {\n    md += `**\\u5931\\u8d25\\u6587\\u7ae0:**\\n\\n`;\n    md += data.failedArticles.join('\\n') + '\\n\\n';\n  }\n} else {\n  md += `*\\u4eca\\u65e5\\u65e0 RSS \\u91c7\\u96c6\\u8bb0\\u5f55*\\n\\n`;\n}\n\n// ===== Section 3: KB Ingestion Stats (from K08) =====\nmd += `#### \\ud83d\\udcda \\u77e5\\u8bc6\\u5e93\\u5165\\u5e93\\u7edf\\u8ba1\\n\\n`;\nif (data.kbTotal > 0) {\n  md += `\\u4eca\\u65e5\\u5165\\u5e93 **${data.kbTotal} \\u7bc7**\\u6587\\u7ae0\\n\\n`;\n  md += `| \\u9886\\u57df | \\u6587\\u7ae0\\u6570 |\\n|------|---------|\\n`;\n  for (const s of data.kbSections) {\n    md += `| ${s.dataset} | ${s.titles.length} \\u7bc7 |\\n`;\n  }\n  md += '\\n';\n} else {\n  md += `*\\u4eca\\u65e5\\u65e0\\u5165\\u5e93\\u8bb0\\u5f55*\\n\\n`;\n}\n\n// ===== Section 4: AI Highlights (from K08, via LLM Proxy) =====\nmd += `#### \\ud83e\\udd16 AI \\u4eae\\u70b9\\u603b\\u7ed3\\n\\n`;\nmd += aiText + '\\n\\n';\n\n// ===== Section 5: Article Total Counts =====\nmd += `#### \\ud83d\\udcc8 \\u77e5\\u8bc6\\u5e93\\u7edf\\u8ba1\\n\\n`;\nmd += `- **\\u6587\\u7ae0\\u603b\\u6570**: ${data.totalArticles} \\u7bc7\\n\\n`;\nif (data.datasetLines && data.datasetLines.length > 0) {\n  md += `| \\u6570\\u636e\\u96c6 | \\u6587\\u7ae0\\u6570 |\\n|---------|---------|\\n`;\n  md += data.datasetLines.join('\\n') + '\\n\\n';\n}\n\n// ===== Section 6: Todo Items =====\nmd += `#### \\ud83d\\udcdd \\u5f85\\u529e\\u4e8b\\u9879\\n\\n`;\nmd += `- \\u672a\\u5b8c\\u6210: ${data.todoCount} \\u9879`;\nif (data.todoDetails && data.todoDetails.length > 0) {\n  md += '\\n\\n' + data.todoDetails.join('\\n');\n}\n\nreturn [{ json: { room: 'daily', markdown: md, date: date } }];"
      },
      "id": "o01-0011",
      "name": "构建统一Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/reports/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'daily', title: '\\u6bcf\\u65e5\\u77e5\\u8bc6\\u5e93\\u65e5\\u62a5 - ' + $json.date, content: $json.markdown, format: 'markdown', source: 'O01-\\u6bcf\\u65e5\\u65e5\\u62a5' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "o01-0012",
      "name": "写入日报文件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/matrix/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'daily', message: $json.markdown, message_type: 'markdown' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "o01-0013",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ module: 'daily_report', action: 'generate', status: 'success', summary: '\\u6bcf\\u65e5\\u65e5\\u62a5\\u5df2\\u751f\\u6210\\u5e76\\u53d1\\u5e03 - ' + $('\\u6784\\u5efa\\u7edf\\u4e00Markdown').first().json.date }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "o01-0014",
      "name": "记录活动日志",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        380
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "每日21点触发": {
      "main": [
        [
          {
            "node": "获取今日采集统计",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取RSS采集详情",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取服务状态",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取文章总数",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取KB入库日志",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取待办事项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取今日采集统计": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取RSS采集详情": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取服务状态": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取文章总数": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取KB入库日志": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取待办事项": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理数据": {
      "main": [
        [
          {
            "node": "有KB内容?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有KB内容?": {
      "main": [
        [
          {
            "node": "调用LLM总结",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "构建统一Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用LLM总结": {
      "main": [
        [
          {
            "node": "构建统一Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建统一Markdown": {
      "main": [
        [
          {
            "node": "写入日报文件",
            "type": "main",
            "index": 0
          },
          {
            "node": "发送Matrix通知",
            "type": "main",
            "index": 0
          },
          {
            "node": "记录活动日志",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "name": "operations"
    },
    {
      "name": "daily"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-23T00:00:00.000Z",
  "versionId": "o01-daily-report-v1"
}