hosts/keeper/n8n-workflows/O02-daily-summary.json
{
  "name": "O02-每日摘要报告",
  "meta": {
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "每日21点触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs?module=file_ingestion&since={{ $now.format('yyyy-MM-dd') }}T00:00:00&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-stats",
      "name": "获取今日采集统计",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/logs?module=rss_fetch&since={{ $now.format('yyyy-MM-dd') }}T00:00:00&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-rss-logs",
      "name": "获取RSS采集详情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/health/detailed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-health",
      "name": "获取服务状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/datasets?per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-article-count",
      "name": "获取文章总数",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://memos:5230/api/v1/memos?filter=tag%3D%3D%27%E5%BE%85%E5%8A%9E%27&pageSize=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEMOS_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-todos",
      "name": "获取待办事项",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dateStr = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;\n\n// --- Unwrap Bellkeeper {\"data\": ...} wrapper ---\nconst healthRes = $('获取服务状态').first().json;\nconst healthData = healthRes.data || healthRes;\nconst services = healthData.services || {};\nconst svc = (name) => (services[name]?.status === 'up') ? '\\u2705' : (services[name]?.status ? `\\u26a0\\ufe0f ${services[name].status}` : '\\u274c');\n\n// Article count from datasets list (total = total dataset mappings)\nconst datasetsRes = $('获取文章总数').first().json;\nconst datasetsData = datasetsRes.data || datasetsRes;\nconst totalArticles = datasetsRes.total || 0;\nconst datasets = datasetsData || [];\n\n// Todos from Memos API (raw response, no wrapper)\nconst todoRes = $('获取待办事项').first().json;\nconst todoCount = (todoRes.memos || []).length;\n\n// --- Content collection stats ---\n// extractor module tracks firecrawl/trafilatura results\nconst extLogsRes = $('获取RSS采集详情').first().json;\nconst extLogsData = extLogsRes.data || extLogsRes;\nconst extLogs = extLogsData.items || [];\nconst extSuccess = extLogs.filter(l => l.status === 'success').length;\nconst extFailed = extLogs.filter(l => l.status === 'failed').length;\n\n// file_ingestion module tracks URL ingestion\nconst ingLogsRes = $('获取今日采集统计').first().json;\nconst ingLogsData = ingLogsRes.data || ingLogsRes;\nconst ingLogs = ingLogsData.items || [];\nconst ingSuccess = ingLogs.filter(l => l.status === 'success').length;\nconst ingFailed = ingLogs.filter(l => l.status === 'failed' || l.status === 'db_failed').length;\n\n// Build failed content list\nconst failedContent = [...extLogs, ...ingLogs]\n  .filter(l => l.status === 'failed' || l.status === 'db_failed')\n  .slice(0, 10)\n  .map(l => `- ${l.summary || ''}`);\n\n// Dataset lines (display_name for readability)\nconst datasetLines = datasets.map(d => `  - ${d.display_name || d.name}: ${(d.tags?.length || 0)} \\u6807\\u7b7e`);\n\n// Build markdown\nlet md = `### \\ud83d\\udcca \\u6bcf\\u65e5\\u77e5\\u8bc6\\u5e93\\u6458\\u8981 - ${dateStr}\\n\\n`;\n\nmd += `#### \\ud83d\\udce6 \\u670d\\u52a1\\u72b6\\u6001\\n\\n`;\nmd += `| \\u670d\\u52a1 | \\u72b6\\u6001 |\\n|------|------|\\n`;\nmd += `| RagFlow | ${svc('ragflow')} |\\n`;\nmd += `| n8n | ${svc('n8n')} |\\n`;\nmd += `| Meilisearch | ${svc('meilisearch')} |\\n\\n`;\n\nmd += `#### \\ud83d\\udce5 \\u4eca\\u65e5\\u5185\\u5bb9\\u91c7\\u96c6\\n\\n`;\nconst totalSuccess = extSuccess + ingSuccess;\nconst totalFailed = extFailed + ingFailed;\nif (totalSuccess > 0 || totalFailed > 0) {\n  md += `| \\u6307\\u6807 | \\u6570\\u91cf |\\n|------|------|\\n`;\n  md += `| \\u63d0\\u53d6\\u6210\\u529f | ${extSuccess} \\u7bc7 |\\n`;\n  md += `| \\u63d0\\u53d6\\u5931\\u8d25 | ${extFailed} \\u7bc7 |\\n`;\n  md += `| \\u5165\\u5e93\\u6210\\u529f | ${ingSuccess} \\u7bc7 |\\n`;\n  md += `| \\u5165\\u5e93\\u5931\\u8d25 | ${ingFailed} \\u7bc7 |\\n\\n`;\n  if (failedContent.length > 0) {\n    md += `**\\u5931\\u8d25\\u8bb0\\u5f55:**\\n\\n`;\n    md += failedContent.join('\\n') + '\\n\\n';\n  }\n} else {\n  md += `*\\u4eca\\u65e5\\u65e0\\u91c7\\u96c6\\u8bb0\\u5f55*\\n\\n`;\n}\n\nmd += `#### \\ud83d\\udcda \\u77e5\\u8bc6\\u5e93\\u7edf\\u8ba1\\n\\n`;\nmd += `- **\\u6587\\u7ae0\\u603b\\u6570**: ${totalArticles} \\u7bc7\\n\\n`;\nif (datasetLines.length > 0) {\n  md += `| \\u6570\\u636e\\u96c6 | \\u6807\\u7b7e\\u6570 |\\n|---------|--------|\\n`;\n  md += datasetLines.map(l => l.replace(/^  - /, '| ').replace(': ', '| ')).join(' \\u6807\\u7b7e\\n') + ' \\u6807\\u7b7e\\n\\n';\n}\n\nmd += `#### \\ud83d\\udcdd \\u5f85\\u529e\\u4e8b\\u9879\\n\\n`;\nmd += `- \\u672a\\u5b8c\\u6210: ${todoCount} \\u9879`;\n\nreturn [{ json: { room: 'daily', markdown: md, date: dateStr } }];"
      },
      "id": "build-summary",
      "name": "构建Markdown摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/reports/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'daily', content: $json.markdown, source: 'O02-每日摘要报告', date: $json.date }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "write-report",
      "name": "写入日报文件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: $json.room, markdown: $json.markdown }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-notify",
      "name": "发送通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        500
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "每日21点触发": {
      "main": [
        [
          {
            "node": "获取今日采集统计",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取RSS采集详情",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取服务状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取服务状态": {
      "main": [
        [
          {
            "node": "获取文章总数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取文章总数": {
      "main": [
        [
          {
            "node": "获取待办事项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取待办事项": {
      "main": [
        [
          {
            "node": "构建Markdown摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建Markdown摘要": {
      "main": [
        [
          {
            "node": "写入日报文件",
            "type": "main",
            "index": 0
          },
          {
            "node": "发送通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "name": "knowledge"
    },
    {
      "name": "daily"
    }
  ]
}