hosts/keeper/n8n-workflows/O03-disk-alert.json
{
  "name": "O03-磁盘空间告警",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "disk-alert-trigger",
      "name": "每6小时检查",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/system/disk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "disk-check-http",
      "name": "检查磁盘使用率",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.alerts.length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "disk-check-if",
      "name": "是否有告警?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const alerts = $input.first().json.alerts || [];\nconst hostname = $input.first().json.hostname || 'keeper';\nlet md = `### ⚠️ 磁盘空间告警\\n\\n| 挂载点 | 使用率 | 状态 |\\n|--------|--------|------|\\n`;\nalerts.forEach(a => {\n  const icon = a.alert ? '🔴' : '🟡';\n  const level = a.alert ? '紧急' : '警告';\n  md += `| \\`${a.mount}\\` | ${a.usage}% | ${icon} ${level} |\\n`;\n});\nreturn [{ json: { markdown: md, alertCount: alerts.length } }];"
      },
      "id": "disk-format-code",
      "name": "格式化告警消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'alerts', markdown: $json.markdown }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "disk-notify-http",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {},
      "id": "disk-no-alerts",
      "name": "正常跳过",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        400
      ]
    }
  ],
  "connections": {
    "每6小时检查": {
      "main": [
        [
          {
            "node": "检查磁盘使用率",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查磁盘使用率": {
      "main": [
        [
          {
            "node": "是否有告警?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否有告警?": {
      "main": [
        [
          {
            "node": "格式化告警消息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "正常跳过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化告警消息": {
      "main": [
        [
          {
            "node": "发送Matrix通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
