hosts/keeper/n8n-workflows/O03-disk-alert.json
{
  "name": "O03-磁盘空间告警",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "disk-alert-trigger",
      "name": "每6小时检查",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "command": "df -h | awk 'NR>1 {gsub(/%/,\"\",$5); if($5+0>80) print $6\"|\"$5\"|\"$2\"|\"$3}'"
      },
      "id": "disk-check-exec",
      "name": "检查磁盘使用率",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "disk-check-if",
      "name": "是否超过80%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const lines = $input.first().json.stdout.trim().split('\\n');\nconst alerts = lines.map(line => {\n  const [mount, usage, total, used] = line.split('|');\n  return { mount, usage: parseInt(usage), total, used };\n});\nreturn alerts.map(a => ({ json: a }));"
      },
      "id": "disk-parse-code",
      "name": "解析磁盘数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "jsCode": "const alerts = $input.all();\nconst hostname = require('os').hostname();\nlet msg = `<h3>⚠️ 磁盘空间告警</h3>`;\nmsg += `<p><strong>主机:</strong> ${hostname}</p>`;\nmsg += `<ul>`;\nalerts.forEach(item => {\n  const a = item.json;\n  msg += `<li><code>${a.mount}</code>: ${a.usage}% (${a.used}/${a.total})</li>`;\n});\nmsg += `</ul>`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "disk-format-code",
      "name": "格式化告警消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/matrix/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "room_id",
              "value": "={{ $env.MATRIX_ADMIN_ROOM }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "msg_type",
              "value": "m.text"
            },
            {
              "name": "format",
              "value": "org.matrix.custom.html"
            }
          ]
        },
        "options": {}
      },
      "id": "disk-notify-http",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "每6小时检查": {
      "main": [[{"node": "检查磁盘使用率", "type": "main", "index": 0}]]
    },
    "检查磁盘使用率": {
      "main": [[{"node": "是否超过80%", "type": "main", "index": 0}]]
    },
    "是否超过80%": {
      "main": [[{"node": "解析磁盘数据", "type": "main", "index": 0}]]
    },
    "解析磁盘数据": {
      "main": [[{"node": "格式化告警消息", "type": "main", "index": 0}]]
    },
    "格式化告警消息": {
      "main": [[{"node": "发送Matrix通知", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}