hosts/keeper/n8n-workflows/O04-container-health.json
{
  "name": "O04-容器健康检查",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * *"
            }
          ]
        }
      },
      "id": "container-health-trigger",
      "name": "每10分钟检查",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BELLKEEPER_URL }}/api/system/containers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "container-list-http",
      "name": "获取容器状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst containers = $input.first().json.containers || [];\n\nconst unhealthy = containers.filter(c => {\n  return c.state !== 'running';\n});\n\nconst previousUnhealthy = staticData.unhealthyContainers || [];\nconst newIssues = unhealthy.filter(c =>\n  !previousUnhealthy.some(p => p.name === c.name)\n);\n\nstaticData.unhealthyContainers = unhealthy.map(c => ({\n  name: c.name,\n  state: c.state\n}));\n\nreturn [{ json: { unhealthy, newIssues, allHealthy: unhealthy.length === 0 } }];"
      },
      "id": "container-check-code",
      "name": "检测异常容器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-issues",
              "leftValue": "={{ $json.allHealthy }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "container-if",
      "name": "有异常容器?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/system/containers/{{ $json.unhealthy[0].name }}/restart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "container-restart-http",
      "name": "重启容器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst unhealthy = $node['检测异常容器'].first().json.unhealthy || [];\nconst now = new Date().toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai' });\nlet md = `### 🛠️ 容器自动重启\\n\\n| 容器 | 状态 |\\n|------|------|\\n`;\nunhealthy.forEach(c => {\n  md += `| \\`${c.name}\\` | ❌ ${c.state} |\\n`;\n});\nmd += `\\n> 检查时间: ${now}`;\nreturn [{ json: { markdown: md } }];"
      },
      "id": "container-format-code",
      "name": "格式化通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'alerts', markdown: $json.markdown }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "container-notify-http",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {},
      "id": "container-all-ok",
      "name": "全部正常",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "每10分钟检查": {
      "main": [
        [
          {
            "node": "获取容器状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取容器状态": {
      "main": [
        [
          {
            "node": "检测异常容器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检测异常容器": {
      "main": [
        [
          {
            "node": "有异常容器?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有异常容器?": {
      "main": [
        [
          {
            "node": "重启容器",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "全部正常",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重启容器": {
      "main": [
        [
          {
            "node": "格式化通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化通知": {
      "main": [
        [
          {
            "node": "发送Matrix通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
