hosts/keeper/n8n-workflows/O05-auto-backup.json
{
  "name": "O05-自动备份",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "backup-trigger",
      "name": "每日凌晨2点",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host1",
              "name": "host",
              "value": "knowledge",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "backup-set-knowledge",
      "name": "备份knowledge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [200, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host2",
              "name": "host",
              "value": "keeper",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "backup-set-keeper",
      "name": "备份keeper",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host3",
              "name": "host",
              "value": "aigateway",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "backup-set-aigateway",
      "name": "备份aigateway",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BELLKEEPER_URL }}/api/system/backup?host={{ $json.host }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BELLKEEPER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "backup-exec-http",
      "name": "执行备份",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = items.map(item => ({\n  host: item.json.host,\n  success: item.json.output && !item.json.error,\n  output: item.json.output || item.json.message || 'unknown'\n}));\nconst allSuccess = results.every(r => r.success);\n\nlet md = `### 📦 每日备份报告\\n\\n| 主机 | 状态 |\\n|------|------|\\n`;\nresults.forEach(r => {\n  md += `| ${r.host} | ${r.success ? '✅ 成功' : '❌ 失败'} |\\n`;\n});\nmd += `\\n> 执行时间: ${new Date().toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai' })}`;\n\nreturn [{ json: { markdown: md, allSuccess } }];"
      },
      "id": "backup-summary-code",
      "name": "汇总结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ room: 'alerts', markdown: $json.markdown }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "backup-notify-http",
      "name": "发送Matrix通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "每日凌晨2点": {
      "main": [[
        {"node": "备份knowledge", "type": "main", "index": 0},
        {"node": "备份keeper", "type": "main", "index": 0},
        {"node": "备份aigateway", "type": "main", "index": 0}
      ]]
    },
    "备份knowledge": {
      "main": [[{"node": "执行备份", "type": "main", "index": 0}]]
    },
    "备份keeper": {
      "main": [[{"node": "执行备份", "type": "main", "index": 0}]]
    },
    "备份aigateway": {
      "main": [[{"node": "执行备份", "type": "main", "index": 0}]]
    },
    "执行备份": {
      "main": [[{"node": "汇总结果", "type": "main", "index": 0}]]
    },
    "汇总结果": {
      "main": [[{"node": "发送Matrix通知", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
